@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Product

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.SeoFriendlyId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ProductType)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ContactId)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Price)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.SuggestedRetailPrice)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.CostOfMaterials)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.TotalCost)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FormattedAmount)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FormattedAmountPerServing)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.QuantityInStock)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.StockLowWarningLevel)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.IsInStock)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.IsStockLowWarning)
    </div>
</div>

<hr />

<div class="row">
    @Html.BootstrapDisplayFor(model => model.ShortDescription)
</div>
<div class="row">
    @Html.BootstrapDisplayFor(model => model.Body)
</div>

<div class="row">
    @Html.BootstrapDisplayFor(model => model.Benefits)
</div>
<div class="row">
    @Html.BootstrapDisplayFor(model => model.Dosage)
</div>

<hr />

<div class="row">
    @Html.BootstrapDisplayFor(model => model.ImageFileSource)
</div>
<div class="row">
    @Html.BootstrapDisplayFor(model => model.VideoFileSource)
</div>