@using K9.Base.WebApplication.Helpers
@model Contact
@{
	Layout = "../Shared/_LayoutFormSmall.cshtml";
}
@using (Html.BeginForm())
{
	using (Html.BeginBootstrapForm())
	{
		<h3>@K9.Base.Globalisation.Dictionary.DeleteConfirm</h3>
		
		@Html.HiddenFor(model => model.Id)
		@Html.Partial("_DisplayFields")
		<hr/>
		@Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Delete, EButtonType.Delete, "fa-trash-alt")
		@Html.BootstrapBackToListButton()
	}
}