@using System.Web.Mvc.Html
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model List<Protocol>

@{
    ViewBag.Title = Dictionary.Protocols;
    ViewBag.SubTitle = Dictionary.Protocols;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
    ViewBag.Background = ViewBagHelper.EViewBackground.Default;
}

<div class="container main-content">
    <div class="well margin-bottom-0">
        @Html.ImagePanel("", "~/Images/pages/protocols.png", EPanelImageSize.Medium)

        <article>
            <h2>Disclaimer:</h2>
            <p>
                <strong>
                    The following protocols as offered to you for educational purposes only. They should not be used to treat any medical condition. Anybody who uses the infomration provided below takes full responsibility for doing so.
                </strong>
            </p>

            <p>Not every protocol is appropriate for every person. Following a protocol that is not suitable could have unpredictable consequences and could make matters worse. Some protocols can be used individually, whereas others need to be used as part of a more comprehensive healing programme. The order in which some protocols are followed is very important.</p>

            <p>
                <strong>
                    We strongly encourage you to work with a qualified healthcare professional.
                </strong>
            </p>

            <hr />

            <h4>
                Protocols
            </h4>

            <div class="content-table">
                @foreach (var protocol in Model)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>@protocol.Name</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.Raw(protocol.ShortDescription)
                        </div>
                        <div class="col-sm-4">
                            @if (protocol.ProductPacks != null && protocol.ProductPacks.Any())
                            {
                                foreach (var protocolProtocolProductPack in protocol.ProductPacks)
                                {
                                    @Html.BootstrapActionLinkButton($"{Dictionary.View} {protocolProtocolProductPack.ProductPack.Name}", "Link", "ProductPack", new { id = protocolProtocolProductPack.ProductPack.ExternalId })
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.CollapsiblePanel(Dictionary.FindOutMore, protocol.Body)
                        </div>
                    </div>
                }
            </div>
        </article>
    </div>
</div>