@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@if (Model.Activities.Any())
{
    for (int i = 0; i < Model.Activities.Count; i++)
    {
        var activity = Model.Activities[i].Activity;
        var isLast = i == Model.Activities.Count - 1;

        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <h4>@activity.Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.Raw(activity.ShortDescription)
                </div>
            </div>

            <br />

            @if (!string.IsNullOrEmpty(activity.Recommendations))
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h4>@Dictionary.RecommendationsLabel</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Raw(activity.Recommendations)
                    </div>
                </div>

                <br />
            }

            @if (!string.IsNullOrEmpty(activity.Benefits))
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h4>@Dictionary.BenefitsLabel</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Raw(activity.Benefits)
                    </div>
                </div>
            }

            @if (!isLast)
            {
                <hr />
            }
        </div>
    }
}