@using System.Web.Mvc.Html
@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@using K9.WebApplication.Services
@model Protocol

<div class="daily-schedule-container">
    <div class="row">
        <div class="col-xs-12">
            @Html.Label(Dictionary.Schedule)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <div class="schedule-box">
                @Dictionary.Monday.Substring(0, 3)
                @Html.CheckBox("mon", ProtocolService.CheckSchedule(Model, DayOfWeek.Monday))
            </div>
        </div>
        <div class="col-xs-2">
            <div class="schedule-box">
                @Dictionary.Tuesday.Substring(0, 3)
                @Html.CheckBox("tue", ProtocolService.CheckSchedule(Model, DayOfWeek.Tuesday))
            </div>
        </div>
        <div class="col-xs-2">
            <div class="schedule-box">
                @Dictionary.Wednesday.Substring(0, 3)
                @Html.CheckBox("wed", ProtocolService.CheckSchedule(Model, DayOfWeek.Wednesday))
            </div>
        </div>
        <div class="col-xs-2">
            <div class="schedule-box">
                @Dictionary.Thursday.Substring(0, 3)
                @Html.CheckBox("thu", ProtocolService.CheckSchedule(Model, DayOfWeek.Thursday))
            </div>
        </div>
        <div class="col-xs-2">
            <div class="schedule-box">
                @Dictionary.Friday.Substring(0, 3)
                @Html.CheckBox("fri", ProtocolService.CheckSchedule(Model, DayOfWeek.Friday))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-4">
            <div class="schedule-box">
                @Dictionary.Saturday.Substring(0, 3)
                @Html.CheckBox("sat", ProtocolService.CheckSchedule(Model, DayOfWeek.Saturday))
            </div>
        </div>
        <div class="col-xs-2">
            <div class="schedule-box">
                @Dictionary.Sunday.Substring(0, 3)
                @Html.CheckBox("sun", ProtocolService.CheckSchedule(Model, DayOfWeek.Sunday))
            </div>
        </div>
    </div>
</div>

