@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Helpers
@using K9.WebApplication.Helpers


<div class="well">
    <div class="row">
        <div class="col-xs-12 padding-0">
            <div class="col-xs-6 padding-0">
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowOxalateLabel</h4>
                    <p>@Dictionary.OxalateDescription</p>
                </div>
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowLectinLabel</h4>
                    <p>@Dictionary.LectinDescription</p>
                </div>
            </div>
            <div class="col-xs-6 padding-0">
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowPhytateLabel</h4>
                    <p>@Dictionary.PhytateDescription</p>
                </div>
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowHistamineLabel</h4>
                    <p>@Dictionary.HistamineDescription</p>
                </div>
            </div>
            <div class="col-xs-6 padding-0">
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowMycotoxinLabel</h4>
                    <p>@Dictionary.MycotoxinDescription</p>
                </div>
                <div class="col-xs-6">
                    <h4>@Dictionary.IsLowOmega6Label</h4>
                    <p>@Dictionary.Omega6Description</p>
                </div>
                <div class="col-xs-6">
                    <h4>@Dictionary.IsBulletProofLabel</h4>
                    <p>@Dictionary.BulletProofDescription</p>
                </div>
            </div>
        </div>
    </div>
</div>
