@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Protocol

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ContactId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.SeoFriendlyId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ShortDescription)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Body)
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-12">
        <h3>@Dictionary.Details</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductSummary, Html.Partial("../Protocols/_ProductsSummary").ToString())
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductPackSummary, Html.Partial("../Protocols/_ProductPackSummary").ToString())
    </div>
</div>

<hr />

<div class="row">
    @Html.BootstrapDisplayFor(model => model.ImageFileSource)
</div>
<div class="row">
    @Html.BootstrapDisplayFor(model => model.VideoFileSource)
</div>
