@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Enums
@using K9.WebApplication.Helpers
@model Protocol

@{
    var periodDisplayValue = Model.ProtocolFrequency != EProtocolFrequency.Custom ? "none" : "";
    var daysOnOffDisplayValue = Model.ProtocolFrequency == EProtocolFrequency.Custom ? "none" : "";
    var optionalFieldsDisplayValue = Model.Type == EProtocolType.Default ? "" : "none";
    var customDurationDisplayValue = Model.Duration == EProtocolDuration.Custom ? "" : "none";
}

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ClientId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Type)
    </div>
    <div id="frequency-container" class="col-sm-6" style="display: @optionalFieldsDisplayValue;">
        @Html.BootstrapEditorFor(model => model.ProtocolFrequency)
    </div>
</div>
<div id="optional-fields-container" style="display: @optionalFieldsDisplayValue;">
    <div id="days-container" class="row" style="display: @daysOnOffDisplayValue;">
        <div id="daysOn-container" class="col-sm-6">
            @Html.BootstrapEditorFor(model => model.NumberOfPeriodsOn)
        </div>
        <div id="daysoff-container" class="col-sm-6">
            @Html.BootstrapEditorFor(model => model.NumberOfPeriodsOff)
        </div>
    </div>
    <div id="period-container" class="row" style="display: @periodDisplayValue;">
        <div class="col-sm-6">
            @Html.BootstrapEditorFor(model => model.PeriodValue)
        </div>
        <div class="col-sm-6">
            @Html.BootstrapEditorFor(model => model.Period)
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-sm-6">
            @Html.BootstrapEditorFor(model => model.Duration)
        </div>
        <div id="custom-days-duration" class="col-sm-6" style="display: @customDurationDisplayValue;">
            @Html.BootstrapEditorFor(model => model.CustomDaysDuration)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.BootstrapDisplayFor(model => model.DaysDuration)
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        @Html.BootstrapEditorFor(model => model.ShortDescription)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.BootstrapEditorFor(model => model.Body)
    </div>
</div>

<div class="row">
    @Html.BootstrapEditorFor(model => model.ImageFileSource)
</div>
<div class="row">
    @Html.BootstrapEditorFor(model => model.VideoFileSource)
</div>

<hr />

@Html.Partial("_GenoTypeBaseEditFields")

<script type="text/javascript">
    $(function () {
        $("#Frequency").change(function () {
            let frequency = $("#Frequency").find("option:selected").val();
            let $daysContainer = $("#days-container");
            let $periodContainer = $("#period-container");
            let $numberOfPeriodsOff = $("#@nameof(Protocol.NumberOfPeriodsOff)");
            let $numberOfPeriodsOn = $("#@nameof(Protocol.NumberOfPeriodsOn)");

            if (frequency === "@((int)EProtocolFrequency.Custom)") {
                $daysContainer.hide();
                $periodContainer.show();
            } else {
                $daysContainer.show();
                $periodContainer.hide();
            }

            if (frequency === "@((int)EProtocolFrequency.Daily)") {
                $numberOfPeriodsOff.show();
                $numberOfPeriodsOn.hide();
            } else if (frequency === "@((int)EProtocolFrequency.Monthly)" || frequency === "@((int)EProtocolFrequency.Fortnightly)") {
                $numberOfPeriodsOn.show();
                $numberOfPeriodsOff.hide();
            }
        });

        $("#Type").change(function () {
            let type = $("#Type").find("option:selected").val();
            let $optionalContainer = $("#optional-fields-container");
            let $frequencyContainer = $("#frequency-container");

            if (type === "@((int)EProtocolType.Default)") {
                $optionalContainer.show();
                $frequencyContainer.show();
            } else {
                $optionalContainer.hide();
                $frequencyContainer.hide();
            }
        });

        $("#Duration").change(function () {
            let dufation = $("#Duration").find("option:selected").val();
            let $customDurationContainer = $("#custom-days-duration");

            if (dufation === "@((int)EProtocolDuration.Custom)") {
                $customDurationContainer.show();
            } else {
                $customDurationContainer.hide();
            }
        });
    })
</script>