@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@Html.HiddenFor(e => Model.Id)

<div class="row">
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.ProtocolSections[0].Section.Name)
    </div>
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.ProtocolSections[0].Section.ShortDescription)
    </div>
    <div class="col-sm-6">

    </div>
</div>
<hr />

@for (int i = 0; i < Model.ProtocolSections.Count; i++)
{
    @Html.HiddenFor(e => Model.ProtocolSections[i].Id)
    @Html.HiddenFor(e => Model.ProtocolSections[i].SectionId)
    @Html.HiddenFor(e => Model.ProtocolSections[i].Section.Name)
    var section = Model.ProtocolSections[i];

    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayFor(e => section.Section.Name)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(e => section.Section.ShortDescription)
        </div>
        <div class="col-sm-6">
            @for (int j = 0; j < Model.ProtocolSections[i].ProtocolSectionProducts.Count; j++)
            {
                var product = Model.ProtocolSections[i].ProtocolSectionProducts[j];
                if (product.Product.CheckRecommendations(section.Section.Recommendations))
                {
                    @Html.HiddenFor(e => Model.ProtocolSections[i].ProtocolSectionProducts[j].Id)
                    @Html.HiddenFor(e => Model.ProtocolSections[i].ProtocolSectionProducts[j].Product.Id)

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.Label(product.Product.Name)
                        </div>
                        <div class="col-sm-6">
                            @Html.BootstrapEditorFor(e => Model.ProtocolSections[i].ProtocolSectionProducts[j].Amount, new EditorOptions
                            {
                                Label = ""
                            })
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
}