@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@{
    var parasiteCleanse = Model.Products.First(e => e.ProductId == 35);
    var parasiteCleanse2 = Model.Products.First(e => e.ProductId == 37);
    var parasiteCleanse3 = Model.Products.First(e => e.ProductId == 39);

    var parasite1Dosages = new[] { 1, 2, 3, 5, 7, 9, 10, 11, 13, 13, 13, 13, 0, 0, 0, 0, 0, 0 };
    var parasite2Dosages = new[] { 3, 3, 6, 6, 9, 9, 9, 9, 9, 9, 9, 9, 0, 0, 0, 0, 0, 0 };
    var parasite3Dosages = new[] { 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 2, 2, 2 };
}

<div class="row">
    <div class="col-xs-3">
        @Dictionary.Day
    </div>
    <div class="col-xs-3">
        @parasiteCleanse.Name
    </div>
    <div class="col-xs-3">
        @parasiteCleanse2.Name
    </div>
    <div class="col-xs-3">
        @parasiteCleanse3.Name
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-3">

    </div>
    <div class="col-xs-3">
        @parasiteCleanse.Product.Dosage
    </div>
    <div class="col-xs-3">
        @parasiteCleanse2.Product.Dosage
    </div>
    <div class="col-xs-3">
        @parasiteCleanse3.Product.Dosage
    </div>
</div>

<hr />

@for (int i = 0; i < 18; i++)
{
    var parasite1Dosage = parasite1Dosages[i];
    var parasite2Dosage = parasite2Dosages[i];
    var parasite3Dosage = parasite3Dosages[i];

    var parasite1CapsuleText = parasite1Dosage == 1 ? Dictionary.Capsule : Dictionary.Capsules;
    var parasite2CapsuleText = parasite2Dosage == 1 ? Dictionary.Capsule : Dictionary.Capsules;
    var parasite3CapsuleText = parasite3Dosage == 1 ? Dictionary.Capsule : Dictionary.Capsules;

    <div class="row">
        <div class="col-xs-3">
            @i
        </div>
        <div class="col-xs-3">
            @parasite1Dosage @parasite1CapsuleText
        </div>
        <div class="col-xs-3">
            @parasite2Dosage @parasite2CapsuleText
        </div>
        <div class="col-xs-3">
            @parasite3Dosage @parasite3CapsuleText
        </div>
    </div>
}
