@using K9.Base.DataAccessLayer.Attributes;
@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Enums
@using K9.DataAccessLayer.Helpers
@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Helpers
@model Protocol

<div>
    @Html.Raw(Dictionary.RecommendedProtocols)
</div>

<div class="row">
    <div class="col-sm-4">
        @Html.LabelFor(e => Model.Products[0].Product.Name)
    </div>
    <div class="col-sm-4">
        @Html.LabelFor(e => Model.Products[0].Product.Category)
    </div>
    <div class="col-sm-4">
        @Html.LabelFor(e => Model.Products[0].Product.Benefits)
    </div>
</div>
<hr />

@for (int i = 0; i < Model.Products.Count; i++)
{
    <div class="row">
        <div class="col-sm-4">
            @if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
            {
                <a target="_blank" href="@Url.Action("Edit", "Products", new {id = Model.Products[i].ProductId})">
                    @Html.DisplayFor(e => Model.Products[i].Product.Name)
                </a>
            }
            else if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsUnicornUser())
            {
                <a target="_blank" href="@Url.Action("Link", "Product", new {id = Model.Products[i].Product.ExternalId})">
                    @Html.DisplayFor(e => Model.Products[i].Product.Name)
                </a>
            }
            else
            {
                <a target="_blank" href="@Url.Action("Details", "Product", new {seoFriendlyId = Model.Products[i].Product.SeoFriendlyId})">
                    @Html.DisplayFor(e => Model.Products[i].Product.Name)
                </a>
            }
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(e => Model.Products[i].Product.GetCategoryText())
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(e => Model.Products[i].Product.Benefits))
        </div>
    </div>
    if (i < Model.Products.Count - 1)
    {
        <hr />
    }
}

