@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@if (Model.Activities.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <h3>@Dictionary.RecommendedActivitties</h3>
        </div>
    </div>

    for (int i = 0; i < Model.Activities.Count; i++)
    {
        var activity = Model.Activities[i].Activity;
        var isLast = i == Model.Activities.Count - 1;

        <div class="row">
            <div class="col-xs-12">
                @Html.BootstrapDisplayFor(e => activity.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                @Html.CollapsiblePanel(nameof(Activity.ShortDescription), activity.ShortDescription)
            </div>
            <div class="col-xs-3">
                @Html.CollapsiblePanel(nameof(Activity.Body), activity.Body)
            </div>
            <div class="col-xs-3">
                @Html.CollapsiblePanel(nameof(Activity.Benefits), activity.Benefits)
            </div>
            <div class="col-xs-3">
                @Html.CollapsiblePanel(nameof(Activity.Recommendations), activity.Recommendations)
            </div>
        </div>
        if (!isLast)
        {
            <hr />
        }
    }
}