@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@if (Model.DietaryRecommendations.Any())
{
    <div class="row">
        <div class="col-xs-12">
            <h3>@Dictionary.DietaryRecommendations</h3>
        </div>
    </div>

    for (int i = 0; i < Model.DietaryRecommendations.Count; i++)
    {
        var dietaryRecommendation = Model.DietaryRecommendations[i].DietaryRecommendation;
        var isLast = i == Model.DietaryRecommendations.Count - 1;

        <div class="row">
            <div class="col-xs-12">
                <h4>@dietaryRecommendation.Name</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Recommendations), dietaryRecommendation.Recommendations, true)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Benefits), dietaryRecommendation.Benefits)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.ShortDescription), dietaryRecommendation.ShortDescription)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Body), dietaryRecommendation.Body)
            </div>
        </div>

        if (!isLast)
        {
            <hr />
        }
    }
}