@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@if (Model.Activities.Any())
{
    for (int i = 0; i < Model.Activities.Count; i++)
    {
        var activity = Model.Activities[i].Activity;
        var isLast = i == Model.Activities.Count - 1;
        var bookmark = Model.Activities[i].Activity.GetBookMark();

        <div id="@bookmark">
            <div class="row">
                <div class="col-xs-12">
                    <h4>@activity.Name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => activity.Recommendations), activity.Recommendations, true)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => activity.Benefits), activity.Benefits)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => activity.ShortDescription), activity.ShortDescription)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => activity.Body), activity.Body)
                </div>
            </div>

            @if (!isLast)
            {
                <hr />
            }
        </div>
    }
}