@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Helpers
@using K9.WebApplication.Helpers
@model Protocol

@if (Model.DietaryRecommendations.Any())
{
    for (int i = 0; i < Model.DietaryRecommendations.Count; i++)
    {
        var dietaryRecommendation = Model.DietaryRecommendations[i].DietaryRecommendation;
        var isLast = i == Model.DietaryRecommendations.Count - 1;
        var bookmark = Model.DietaryRecommendations[i].DietaryRecommendation.GetBookMark();

        <div id="@bookmark">
            <div class="row">
                <div class="col-xs-12">
                    <h4>@dietaryRecommendation.Name</h4>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(dietaryRecommendation.Recommendations))
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Recommendations), dietaryRecommendation.Recommendations, true)
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(dietaryRecommendation.Recommendations))
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Benefits), dietaryRecommendation.Benefits)
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-xs-12">
                    @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.ShortDescription), dietaryRecommendation.ShortDescription)
                </div>
            </div>

            @if (!string.IsNullOrEmpty(dietaryRecommendation.Body))
            {
                <div class="row">
                    <div class="col-xs-12">
                        @Html.CollapsiblePanel(Html.GetDisplayNameFor(e => dietaryRecommendation.Body), dietaryRecommendation.Body)
                    </div>
                </div>
            }

            @if (!isLast)
            {
                <hr />
            }
        </div>
    }
}