@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Enums
@using K9.SharedLibrary.Authentication
@model Protocol
@{
    Layout = "../Shared/_LayoutPrint.cshtml";
    ViewBag.SubTitle = Model.Name;
}

<div class="print-container schedule-print-container">
    <div class="row">
        <div class="col-xs-12 center-block">
            <img src="~/Images/company/logo-small.png" class="center-block" />
        </div>
    </div>
    <br />

    @Html.Partial("../Protocols/_Schedule")

    @if (Model.Type == EProtocolType.Default)
    {
        <br />
        <br />

        @Html.Partial("../Protocols/_SupplementsList")
    }
</div>

@if (Model.DietaryRecommendations != null && Model.DietaryRecommendations.Any())
{
    using (Html.BeginForm())
    {
        using (Html.BeginBootstrapForm())
        {
            <div class="row margin-top-0">
                <div class="col-xs-12">
                    <h3 class="margin-top-0">@Dictionary.DietaryAdvice</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("../Protocols/_DietaryRecommendationsSummary")
                </div>
            </div>
        }
    }
}

@if (Model.Activities != null && Model.Activities.Any())
{
    using (Html.BeginForm())
    {
        using (Html.BeginBootstrapForm())
        {
            <div class="row margin-top-0">
                <div class="col-xs-12">
                    <h3 class="margin-top-0">@Dictionary.RecommendedActivitties</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("../Protocols/_ActivitiesSummary")
                </div>
            </div>
        }
    }
}

@if (Model.RecommendedFoods != null && Model.RecommendedFoods.Any())
{
    using (Html.BeginForm())
    {
        using (Html.BeginBootstrapForm())
        {
            <div class="row margin-top-0">
                <div class="col-xs-12">
                    <h3 class="margin-top-0">@Dictionary.RecommendedFoods</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    @Html.Partial("../Protocols/_PrintableFoodsList")
                </div>
            </div>
        }
    }
}