@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Enums
@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Helpers
@model Protocol
@{
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.SubTitle = Model.Name;
}

@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        <div class="row">
            <div class="col-sm-12">
                @Html.BootstrapActionLinkButton(Dictionary.ViewPrintableVersion, "PrintableSummary", "Protocol", new { id = Model.ExternalId }, "", EButtonClass.Info)
                @if (this.GetRoles().CurrentUserIsInRoles(RoleNames.Administrators))
                {
                    @Html.BootstrapBackToListButton()
                }
            </div>
        </div>

        <br />

        @Html.Partial("../Protocols/_Schedule")

        if (Model.Type == EProtocolType.Default)
        {
            <br />
            <br />

            @Html.Partial("../Protocols/_SummaryFields")
        }
    }
}

@if (Model.Activities.Any())
{
    using (Html.BeginForm())
    {
        using (Html.BeginBootstrapForm())
        {
            @Html.Partial("../Protocols/_SummaryActivityFields")
        }
    }
}