@using K9.Base.WebApplication.Helpers
@model User

@Html.PopupAlert()

@using (Html.BeginForm("UpdateAccount", "Account"))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.EmailAddress)
        @Html.Hidden("Password", "th1515n0tmypa55w0rd")

        <div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.FirstName)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.LastName)</div>
        </div>
        <div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.BirthDate)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.Gender)</div>
        </div>
        @Html.BootstrapEditorFor(model => model.PhoneNumber)

        if (!Model.IsOAuth)
        {
            <span>@Html.ActionLink(K9.Base.Globalisation.Dictionary.ChangePassword, "UpdatePassword")</span>
        }

        <hr/>
        @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Update, EButtonType.Submit, "fa-save")
        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.DeleteMyAccount, "ConfirmDeleteAccount", "Account", new {id = Model.Id}, "fa-trash-alt", EButtonClass.Danger)
    }
}