@using Dictionary = K9.Base.Globalisation.Dictionary
@model UserAccount.LoginModel
@{
    ViewBag.Title = Dictionary.LogIn;
    ViewBag.SubTitle = Dictionary.LogIn;
    Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        <p>@K9.Globalisation.Dictionary.NotRegisteredYet Sign up @Html.ActionLink(K9.Globalisation.Dictionary.Here.ToLowerInvariant(), "Register")</p>
        <hr />
        @Html.BootstrapEditorFor(model => model.UserName)
        @Html.BootstrapEditorFor(model => model.Password)
        <span>@Html.ActionLink(Dictionary.ResetPassword, "PasswordResetRequest")</span>
        @Html.BootstrapEditorFor(model => model.RememberMe)
        <hr />
        @Html.BootstrapButton(Dictionary.LogInVerb, EButtonType.Submit, "fa-sign-in")
        @Html.BootstrapActionLinkButton(Dictionary.SignInWithFacebook, "Facebook", "Account", null, "fao fao-facebook")
    }
}