@model K9.WebApplication.ViewModels.MyAccountViewModel
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.MyAccountTitle;
    ViewBag.SubTitle = K9.Base.Globalisation.Dictionary.MyAccountTitle;
    Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";

    var activePaneClass = "in active padding-top-20";
    var inactivePaneClass = "padding-bottom-0";
    var activeTabClass = "active";
    var inactiveTabClass = "";

    var hqIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any());
    var accountIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any() && !Model.HealthQuestionnaire.IsComplete());
    var protocolsIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders != null || Model.Orders.Any());

    var hqTabClass = hqIsActive ? activeTabClass : inactiveTabClass;
    var hqPaneClass = hqIsActive ? activePaneClass : inactivePaneClass;
    var accontTabClass = accountIsActive ? activeTabClass : inactiveTabClass;
    var accontPaneClass = accountIsActive ? activePaneClass : inactivePaneClass;
    var protocolsTabClass = protocolsIsActive ? activeTabClass : inactiveTabClass;
    var protocolsPaneClass = protocolsIsActive ? activePaneClass : inactivePaneClass;
}
@using (Html.BeginBootstrapForm())
{
    <ul class="nav nav-tabs">
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <li class="@activeTabClass"><a data-toggle="tab" href="#orders">@Dictionary.YourOrders</a></li>
        }

        @if (Model.Protocols != null && Model.Protocols.Any())
        {
            <li class="@protocolsTabClass"><a data-toggle="tab" href="#protocols">@Dictionary.YourProtocols</a></li>
        }

        <li class="@hqTabClass"><a data-toggle="tab" href="#health-questionnaire">@Dictionary.HealthQuestionnaire</a></li>

        <li class="@accontTabClass"><a data-toggle="tab" href="#account">@Dictionary.UpdateYourDetails</a></li>
    </ul>

    <div class="tab-content">
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <div id="orders" class="tab-pane fade @activePaneClass">
                @Html.Partial("_UserOrders", Model.Orders)
            </div>
        }
        @if (Model.Protocols != null && Model.Protocols.Any())
        {
            <div id="protocols" class="tab-pane fade @protocolsPaneClass">
                @Html.Partial("_UserProtocols", Model.Protocols)
            </div>
        }

        <div id="health-questionnaire" class="tab-pane fade @hqPaneClass">
            @if (Model.HealthQuestionnaire.IsStarted())
            {
                @Html.BootstrapActionLinkButton(Dictionary.UpdateHealthQuestionnaire, "AnswerHealthQuestionnaire", "HealthQuestionnaire", new { clientId = Model.Client.Id })
            }
            else
            {
                @Html.BootstrapActionLinkButton(Dictionary.AnswerHealthQuestionnaire, "AnswerHealthQuestionnaire", "HealthQuestionnaire", new { clientId = Model.Client.Id })
            }
        </div>

        <div id="account" class="tab-pane fade @accontPaneClass">
            @Html.Partial("_AccountDetails", Model.User)
        </div>
    </div>
}
