@using K9.Base.WebApplication.Extensions
@using K9.WebApplication.Extensions
@model K9.WebApplication.ViewModels.MyAccountViewModel
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.MyAccountTitle;
    ViewBag.SubTitle = K9.Base.Globalisation.Dictionary.MyAccountTitle;
    Layout = "~/Views/Shared/_LayoutFormSmall.cshtml";

    var activePaneClass = $"{Strings.CssClasses.ActivePanelClass} padding-top-20";
    var inactivePaneClass = "padding-bottom-0";
    var activeTabClass = Strings.CssClasses.ActiveTabClass;
    var inactiveTabClass = "";

    var hqIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any());
    var accountIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any() && !hqIsActive);
    var protocolsIsActive = (Model.Protocols != null && Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any());
    var suggestedProtocolsIsActive = (Model.Protocols == null || !Model.Protocols.Any()) && (Model.Orders == null || !Model.Orders.Any());

    var hqTabClass = hqIsActive ? activeTabClass : inactiveTabClass;
    var hqPaneClass = hqIsActive ? activePaneClass : inactivePaneClass;
    var accontTabClass = accountIsActive ? activeTabClass : inactiveTabClass;
    var accontPaneClass = accountIsActive ? activePaneClass : inactivePaneClass;
    var protocolsTabClass = protocolsIsActive ? activeTabClass : inactiveTabClass;
    var protocolsPaneClass = protocolsIsActive ? activePaneClass : inactivePaneClass;
    var suggestedProtocolsPaneClass = suggestedProtocolsIsActive ? activePaneClass : inactivePaneClass;
    var suggestedProtocolsTabClass = suggestedProtocolsIsActive ? activeTabClass : inactiveTabClass;
}
@using (Html.BeginBootstrapForm())
{
    <ul class="nav nav-tabs">
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <li class="@activeTabClass"><a data-toggle="tab" href="#orders">@Dictionary.YourOrders</a></li>
        }

        <li class="@hqTabClass"><a data-toggle="tab" href="#health-questionnaire">@Dictionary.GeneticProfileTest</a></li>


        @if (Model.Protocols != null && Model.Protocols.Any())
        {
            <li class="@protocolsTabClass"><a data-toggle="tab" href="#protocols">@Dictionary.YourProtocols</a></li>
        }

        @if (Model.SuggestedProtocols != null && Model.SuggestedProtocols.Any())
        {
            <li class="@suggestedProtocolsTabClass"><a data-toggle="tab" href="#suggested-protocols">@Dictionary.RecommendedProtocols</a></li>
        }

        <li class="@accontTabClass"><a data-toggle="tab" href="#account">@Dictionary.UpdateYourDetails</a></li>
    </ul>

    <div class="tab-content">
        @if (Model.Orders != null && Model.Orders.Any())
        {
            <div id="orders" class="tab-pane fade @activePaneClass">
                @Html.Partial("_UserOrders", Model.Orders)
            </div>
        }

        <div id="health-questionnaire" class="tab-pane fade @hqPaneClass">
            @if (Model.HealthQuestionnaire.IsStarted())
            {
                @Html.BootstrapActionLinkButton(Dictionary.TakeTheGeneticProfileTest, "GeneticProfileTest", "HealthQuestionnaire", new { clientId = Model.Client.Id }, "fa fa-heartbeat", EButtonClass.Primary)
            }
            else
            {
                @Html.BootstrapActionLinkButton(Dictionary.AnswerHealthQuestionnaire, "GeneticProfileTest", "HealthQuestionnaire", new { clientId = Model.Client.Id }, "fa fa-heartbeat", EButtonClass.Primary)
            }

            @if (Model.HealthQuestionnaire.IsComplete() && K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
            {
                @Html.BootstrapActionLinkButton(Dictionary.ViewHealthQuestionnaireResults, "GeneticProfileTestOverview", "HealthQuestionnaire", new { clientId = Model.Client.Id }, "fa fa-heartbeat", EButtonClass.Success)
            }
        </div>

        @if (Model.Protocols != null && Model.Protocols.Any())
        {
            <div id="protocols" class="tab-pane fade @protocolsPaneClass">
                @Html.Partial("_UserProtocols", Model.Protocols)
            </div>
        }

        @if (Model.SuggestedProtocols != null && Model.SuggestedProtocols.Any())
        {
            <div id="suggested-protocols" class="tab-pane fade @suggestedProtocolsPaneClass">
                @Html.Partial("_UserProtocols", Model.SuggestedProtocols)
            </div>
        }

        <div id="account" class="tab-pane fade @accontPaneClass">
            @Html.Partial("_AccountDetails", Model.User)
        </div>
    </div>
}
