@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Helpers
@using K9.WebApplication.Helpers

<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowOxalateLabel</h4>
        <p>@Dictionary.OxalateDescription</p>
        <p><a href="https://mastcell360.com/what-are-oxalates/" target="_blank">@Dictionary.FindOutMore</a></p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowLectinLabel</h4>
        <p>@Dictionary.LectinDescription</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowPhytateLabel</h4>
        <p>@Dictionary.PhytateDescription</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowHistamineLabel</h4>
        <p>@Dictionary.HistamineDescription</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowMycotoxinLabel</h4>
        <p>@Dictionary.MycotoxinDescription</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowOmega6Label</h4>
        <p>@Dictionary.Omega6Description</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsBulletProofLabel</h4>
        <p>@Dictionary.BulletProofDescription</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsSattvicLabel</h4>
        <p>@Dictionary.SattvicDescription</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-0">
        <h4>@Dictionary.IsLowSulphur</h4>
        <p>@Dictionary.LowSulphurDescription</p>
    </div>
</div>
