@using K9.Base.WebApplication.Config
@using K9.SharedLibrary.Helpers
@{
    var termsText = TemplateProcessor.PopulateTemplate(Dictionary.AgreeToTerms, new
    {
        privacypolicyurl = Url.Action("PrivacyPolicy", "Home")
    });
}
<div class="footer main-section">
    <div class="container">
        <div class="agile-footer-grids">
            <div class="col-md-4 agile-footer-grid">
                <h4>@Dictionary.PureAlchemy</h4>
                <p>
                    @Dictionary.CompanyBlurbFooter
                </p>
            </div>
            <div class="col-md-4 agile-footer-grid">
                @Html.Action("ArticlesSummary", "Article")
            </div>
            <div class="col-md-4 agile-footer-grid">
                <h4>Navigation</h4>
                <ul>
                    <li class="text"><a href="@Url.Action("FrequentlyAskedQuestions", "Home")"> @Dictionary.FAQ</a></li>
                    <li class="text"><a href="@Url.Action("Index", "Home")"> @K9.Base.Globalisation.Dictionary.Home</a></li>
                    <li class="text"><a href="@Url.Action("Index", "Product")"> @Dictionary.Products</a></li>
                    <li class="text"><a href="@Url.Action("Index", "ProductPack")"> @Dictionary.ProductPacks</a></li>
                    <li class="text"><a href="@Url.Action("Index", "Ingredient")"> @Dictionary.Ingredients</a></li>
                    <li class="text"><a href="@Url.Action("Index", "ProtocolArticles")"> @Dictionary.Protocols</a></li>
                    <li class="text"><a href="@Url.Action("Index", "Article")"> @Dictionary.Articles</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <p>@Html.Raw(termsText) </p>
        <p>&copy; Pure Alchemy Limited @DateTime.Now.Year - @K9.Base.Globalisation.Dictionary.AllRightsReserved.</p>
    </div>
</div>