@using K9.WebApplication.Helpers
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var background = ViewBag.Background == ViewBagHelper.EViewBackground.Jarallax ? "background-stars jarallax" : "";
}

@if (ViewBag.Background != ViewBagHelper.EViewBackground.Jarallax)
{
    <div class="background-stars background-fixed">
        &nbsp;
    </div>
}

<div class="@background">
    @Html.Partial("_Navbar")
    <div class="mainContent">
        <div class="container-fluid">
            @RenderSection("formLayout")
        </div>
    </div>
</div>

@section headerscripts {
    @RenderSection("headerscripts", false)
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            bootstrapControls().selectFirstFormInput();
        });
    </script>
    @RenderSection("scripts", false)
}