@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Authentication
@{
    var roles = this.GetRoles();
    var articles = this.GetDropdownData().GetDataSet<Article>(true, "Name", "SeoFriendlyId").OrderBy(e => e.Id).Take(11).ToList();
}
<div id="account-header">
    <div id="account-controls">
        @if (roles.CurrentUserIsInRoles(RoleNames.Administrators))
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @K9.Base.Globalisation.Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav">
                        <li class="@ViewContext.GetActiveClass("Index", "Articles") sub-item"><a href="@Url.Action("Index", "Articles")">@Dictionary.Articles</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "ArticleCategories") sub-item"><a href="@Url.Action("Index", "ArticleCategories")">@Dictionary.ArticleCategories</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Consultations") sub-item"><a href="@Url.Action("Index", "Consultations")">@Dictionary.Consultations</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Contacts") sub-item"><a href="@Url.Action("Index", "Contacts")">@Dictionary.Clients</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Orders") sub-item"><a href="@Url.Action("Index", "Orders")">@Dictionary.Orders</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "PromoCodes") sub-item"><a href="@Url.Action("Index", "PromoCodes")">@Dictionary.PromoCodes</a></li>
                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Ingredients") sub-item"><a href="@Url.Action("Index", "Ingredients")">@Dictionary.Ingredients</a></li>
                        <li class="@ViewContext.GetActiveClass("EditList", "Ingredients") sub-item"><a href="@Url.Action("EditList", "Ingredients")">@Dictionary.IngredientsList</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Products") sub-item"><a href="@Url.Action("Index", "Products")">@Dictionary.Products</a></li>
                        <li class="@ViewContext.GetActiveClass("EditList", "Products") sub-item"><a href="@Url.Action("EditList", "Products")">@Dictionary.ProductsList</a></li>
                        <li class="@ViewContext.GetActiveClass("DownloadProductsCsv", "Products") sub-item"><a target="_blank" href="@Url.Action("DownloadProductsCsv", "Products")">@Dictionary.DownloadAsCsv</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "ProductPacks") sub-item"><a href="@Url.Action("Index", "ProductPacks")">@Dictionary.ProductPacks</a></li>
                        <li class="@ViewContext.GetActiveClass("EditList", "ProductPacks") sub-item"><a href="@Url.Action("EditList", "ProductPacks")">@Dictionary.ProductPacksList</a></li>

                        <li class="divider"></li>

                        @*<li class="@ViewContext.GetActiveClass("Index", "Donations") sub-item"><a href="@Url.Action("Index", "Donations")">@Dictionary.Donations</a></li>*@
                        <li class="@ViewContext.GetActiveClass("Index", "Log") sub-item"><a href="@Url.Action("Index", "Log")">@Dictionary.ErrorLog</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@K9.Base.Globalisation.Dictionary.Roles</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@K9.Base.Globalisation.Dictionary.Role @K9.Base.Globalisation.Dictionary.Permissions</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@K9.Base.Globalisation.Dictionary.Users</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserConsultations") sub-item"><a href="@Url.Action("Index", "UserConsultations")">@Dictionary.UserConsultations</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserMemberships") sub-item"><a href="@Url.Action("Index", "UserMemberships")">@Dictionary.UserMemberships</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserPromoCodes") sub-item"><a href="@Url.Action("Index", "UserPromoCodes")">@Dictionary.UserPromoCodes</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@K9.Base.Globalisation.Dictionary.UserRoles</a></li>
                    </ul>
                </li>
            </ul>
        }
        <ul class="site-controls">
            @*<li class="@ViewContext.GetActiveClass("BookConsultationStart", "Consultation")"><a title="@Dictionary.BookAConsultation" href="@Url.Action("BookConsultationStart", "Consultation")"><i class="fa fa-phone-alt"></i><span class="site-controls-text"> @Dictionary.BookAConsultation</span></a></li>*@
            <li class="@ViewContext.GetActiveClass("Index", "Support")"><a title="@Dictionary.Support" href="@Url.Action("Index", "Support")"><i class="fa fa-question-circle"></i><span class="site-controls-text"> @Dictionary.Support</span></a></li>
            @*<li class="@ViewContext.GetActiveClass("DonateStart", "Support")"><a title="@Dictionary.Donate" href="@Url.Action("DonateStart", "Support")"><i class="fa fa-donate"></i><span class="site-controls-text"> @Dictionary.Donate</span></a></li>*@
            @if (WebSecurity.IsAuthenticated)
            {
                <li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a title="@K9.Base.Globalisation.Dictionary.MyAccountTitle" href="@Url.Action("MyAccount", "Account")"><i class="fa fa-user-circle"></i><span class="site-controls-text"> @K9.Base.Globalisation.Dictionary.MyAccountTitle</span></a></li>
            }
            @Html.LoginLogout()
        </ul>
    </div>
</div>
<div id="main-logo-container" class="menu-main">
    <a class="@ViewContext.GetActiveClass("Index", "Home")" href="@Url.Action("Index", "Home")"><div class="main-logo default-logo" alt="@Dictionary.Keywords"></div></a>
</div>
<div id="main-menu-container" class="menu-main">
    <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse menu-main" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav main-navbar">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Products</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                @Html.Action("ProductMenuList", "Shared")
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Ingredients</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                @*@Html.Action("IngredientMenuList", "Shared")*@
                            </ul>
                        </li>

                        <li class="@ViewContext.GetActiveClass("Index", "Home")"><a class="device-only" href="@Url.Action("Index", "Home")"> <span class="device-only">@K9.Base.Globalisation.Dictionary.Home</span></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.SelfCareAndNutrition</span> <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu nav navbar-nav">

                                <li class="@ViewContext.GetActiveClass("Questionnaire", "Protocols")"><a href="@Url.Action("Questionnaire", "Protocols")"> @Dictionary.HealthQuestionnaire</a></li>
                                <li class="@ViewContext.GetActiveClass("Index", "Protocols")"><a href="@Url.Action("Index", "Protocols")"> @Dictionary.Protocols</a></li>

                                <li class="divider"></li>

                                <li class="@ViewContext.GetActiveClass("Index", "SelfCare")"><a href="@Url.Action("Index", "SelfCare")"> @Dictionary.SeeAll</a></li>

                                <li class="divider"></li>

                                <li class="@ViewContext.GetActiveClass("ColdExposure", "SelfCare")"><a href="@Url.Action("ColdExposure", "SelfCare")"> @Dictionary.ColdExposure</a></li>
                                <li class="@ViewContext.GetActiveClass("Breathwork", "SelfCare")"><a href="@Url.Action("Breathwork", "SelfCare")"> @Dictionary.Breathwork</a></li>
                                <li class="@ViewContext.GetActiveClass("Detoxification", "SelfCare")"><a href="@Url.Action("Detoxification", "SelfCare")"> @Dictionary.Detoxification</a></li>
                                <li class="@ViewContext.GetActiveClass("Electromedicine", "SelfCare")"><a href="@Url.Action("Electromedicine", "SelfCare")"> @Dictionary.Electromedicine</a></li>
                                <li class="@ViewContext.GetActiveClass("EMFs", "SelfCare")"><a href="@Url.Action("EMFs", "SelfCare")"> @Dictionary.EMFs</a></li>
                                <li class="@ViewContext.GetActiveClass("Grounding", "SelfCare")"><a href="@Url.Action("Grounding", "SelfCare")"> @Dictionary.Grounding</a></li>
                                <li class="@ViewContext.GetActiveClass("ImmuneSupport", "SelfCare")"><a href="@Url.Action("ImmuneSupport", "SelfCare")"> @Dictionary.ImmuneSupport</a></li>
                                <li class="@ViewContext.GetActiveClass("Infections", "SelfCare")"><a href="@Url.Action("Infections", "SelfCare")"> @Dictionary.Infections</a></li>
                                <li class="@ViewContext.GetActiveClass("SaunaTherapy", "SelfCare")"><a href="@Url.Action("SaunaTherapy", "SelfCare")"> @Dictionary.SaunaTherapy</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Articles</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                @if (articles != null)
                                {
                                    <li class="@ViewContext.GetActiveClass("Index", "Article")"><a href="@Url.Action("Index", "Article")"> @Dictionary.SeeAllArticles</a></li>

                                    <li class="divider"></li>

                                    foreach (var article in articles)
                                    {
                                        <li>
                                            <a href="@Url.Action("Details", "Article", new {seoFriendlyId = article.Value})"> @article.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="main-menu-spacer">
    &nbsp;
</div>