@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Models
@using K9.WebApplication.Helpers;
@{
    var deviceType = new BrowserInfo(Request.Headers["User-Agent"]).DeviceType;
    var whatsAppLink = (deviceType == EDeviceType.Desktop ? "https://web.whatsapp.com/send?phone=" : "https://wa.me/") + DefaultValuesConfiguration.Instance.WhatsAppSupportNumber;
}
<div id="account-header">
    <div id="account-controls">
        @if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsPowertUser())
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @K9.Base.Globalisation.Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav admin-submenu">
                        <li class="@ViewContext.GetActiveClass("Index", "Clients") sub-item"><a href="@Url.Action("Index", "Clients")">@Dictionary.Clients</a></li>

                        <li class="@ViewContext.GetActiveClass("EditList", "Ingredients") sub-item"><a href="@Url.Action("EditList", "Ingredients")">@Dictionary.IngredientsList</a></li>

                        <li class="@ViewContext.GetActiveClass("IngredientsPurchaseList", "Ingredients") sub-item"><a href="@Url.Action("IngredientsPurchaseList", "Ingredients")">@Dictionary.IngredientsPurchaseList</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Orders") sub-item"><a href="@Url.Action("Index", "Orders")">@Dictionary.Orders</a></li>

                        <li class="@ViewContext.GetActiveClass("OrderReview", "Orders") sub-item"><a href="@Url.Action("OrderReview", "Orders")">@Dictionary.OrdersReview</a></li>

                        <li class="@ViewContext.GetActiveClass("DownloadOrdersCsv", "Orders") sub-item"><a target="_blank" href="@Url.Action("DownloadOrdersCsv", "Orders")">@Dictionary.DownloadOrdersCsv</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("DownloadProductsCsv", "Products") sub-item"><a target="_blank" target="_blank" href="@Url.Action("DownloadProductsCsv", "Products")">@Dictionary.DownloadProductsCsv</a></li>
                        
                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Articles") sub-item"><a href="@Url.Action("Index", "Articles")">@Dictionary.Articles</a></li>
                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserMemberships") sub-item"><a href="@Url.Action("Index", "UserMemberships")">@Dictionary.UserMemberships</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserPromoCodes") sub-item"><a href="@Url.Action("Index", "UserPromoCodes")">@Dictionary.UserPromoCodes</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserProtocols") sub-item"><a href="@Url.Action("Index", "UserProtocols")">@Dictionary.UserProtocols</a></li>
                    </ul>
                </li>
            </ul>
        }
        @if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
        {
            <ul class="admin-menu ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @K9.Base.Globalisation.Dictionary.Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu nav navbar-nav admin-submenu">

                        <li class="@ViewContext.GetActiveClass("Index", "Activities") sub-item"><a href="@Url.Action("Index", "Activities")">@Dictionary.Activities</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Clients") sub-item"><a href="@Url.Action("Index", "Clients")">@Dictionary.Clients</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Consultations") sub-item"><a href="@Url.Action("Index", "Consultations")">@Dictionary.Consultations</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "DietaryRecommendations") sub-item"><a href="@Url.Action("Index", "DietaryRecommendations")">@Dictionary.DietaryRecommendations</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "FoodItems") sub-item"><a href="@Url.Action("Index", "FoodItems")">@Dictionary.FoodItems</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Ingredients") sub-item"><a href="@Url.Action("Index", "Ingredients")">@Dictionary.Ingredients</a></li>

                        <li class="@ViewContext.GetActiveClass("EditList", "Ingredients") sub-item"><a href="@Url.Action("EditList", "Ingredients")">@Dictionary.IngredientsList</a></li>

                        <li class="@ViewContext.GetActiveClass("IngredientsPurchaseList", "Ingredients") sub-item"><a href="@Url.Action("IngredientsPurchaseList", "Ingredients")">@Dictionary.IngredientsPurchaseList</a></li>

                        <li class="@ViewContext.GetActiveClass("DownloadIngredientsCsv", "Ingredients") sub-item"><a target="_blank" target="_blank" href="@Url.Action("DownloadIngredientsCsv", "Ingredients")">@Dictionary.DownloadIngredientsCsv</a></li>

                        <li class="@ViewContext.GetActiveClass("GetIngredientsJson", "Ingredient") sub-item"><a target="_blank" target="_blank" href="@Url.Action("GetIngredientsJson", "Ingredient")">@Dictionary.DownloadIngredientsJson</a></li>

                        <li class="@ViewContext.GetActiveClass("DownloadIngredientCategoriesCsv", "Ingredients") sub-item"><a target="_blank" target="_blank" href="@Url.Action("DownloadIngredientCategoriesCsv", "Ingredients")">@Dictionary.DownloadIngredientCategoriesCsv</a></li>

                        <li class="@ViewContext.GetActiveClass("SelectIngredientsLabels", "Ingredients") sub-item"><a target="_blank" target="_blank" href="@Url.Action("SelectIngredientsLabels", "Ingredients")">@Dictionary.ViewIngredientLabels</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Orders") sub-item"><a href="@Url.Action("Index", "Orders")">@Dictionary.Orders</a></li>

                        <li class="@ViewContext.GetActiveClass("OrderReview", "Orders") sub-item"><a href="@Url.Action("OrderReview", "Orders")">@Dictionary.OrdersReview</a></li>

                        <li class="@ViewContext.GetActiveClass("DownloadOrdersCsv", "Orders") sub-item"><a target="_blank" href="@Url.Action("DownloadOrdersCsv", "Orders")">@Dictionary.DownloadOrdersCsv</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "RepCommissions") sub-item"><a href="@Url.Action("Index", "RepCommissions")">@Dictionary.RepCommissions</a></li>

                        <li class="@ViewContext.GetActiveClass("Review", "RepCommissions") sub-item"><a href="@Url.Action("Review", "RepCommissions")">@Dictionary.ReviewRepCommissions</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Products") sub-item"><a href="@Url.Action("Index", "Products")">@Dictionary.Products</a></li>
                        <li class="@ViewContext.GetActiveClass("EditList", "Products") sub-item"><a href="@Url.Action("EditList", "Products")">@Dictionary.ProductsList</a></li>

                        <li class="@ViewContext.GetActiveClass("DownloadProductsCsv", "Products") sub-item"><a target="_blank" target="_blank" href="@Url.Action("DownloadProductsCsv", "Products")">@Dictionary.DownloadProductsCsv</a></li>

                        <li class="@ViewContext.GetActiveClass("GetProductsJson", "Product") sub-item"><a target="_blank" target="_blank" href="@Url.Action("GetProductsJson", "Product")">@Dictionary.DownloadProductsJson</a></li>

                        <li class="@ViewContext.GetActiveClass("ProductQrCodes", "Products") sub-item"><a target="_blank" target="_blank" href="@Url.Action("ProductQrCodes", "Products")">@Dictionary.ViewProductQrCodes</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "ProductPacks") sub-item"><a href="@Url.Action("Index", "ProductPacks")">@Dictionary.ProductPacks</a></li>

                        <li class="@ViewContext.GetActiveClass("EditList", "ProductPacks") sub-item"><a href="@Url.Action("EditList", "ProductPacks")">@Dictionary.ProductPacksList</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Protocols") sub-item"><a href="@Url.Action("Index", "Protocols")">@Dictionary.Protocols</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "Sections") sub-item"><a href="@Url.Action("Index", "Sections")">@Dictionary.ProtocolSections</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Articles") sub-item"><a href="@Url.Action("Index", "Articles")">@Dictionary.Articles</a></li>
                        <li class="@ViewContext.GetActiveClass("Index", "ArticleCategories") sub-item"><a href="@Url.Action("Index", "ArticleCategories")">@Dictionary.ArticleCategories</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Log") sub-item"><a href="@Url.Action("Index", "Log")">@Dictionary.ErrorLog</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "PromoCodes") sub-item"><a href="@Url.Action("Index", "PromoCodes")">@Dictionary.PromoCodes</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@K9.Base.Globalisation.Dictionary.Roles</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@K9.Base.Globalisation.Dictionary.Role @K9.Base.Globalisation.Dictionary.Permissions</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@K9.Base.Globalisation.Dictionary.Users</a></li>
                        
                        @if (Current.IsImpersonating())
                        {
                            <li class="@ViewContext.GetActiveClass("ImpersonateStop", "Account") sub-item"><a href="@Url.Action("ImpersonateStop", "Account")">@K9.Globalisation.Dictionary.StoppedImpersonatingUser</a></li>
                        }
                        else
                        {
                            <li class="@ViewContext.GetActiveClass("Impersonate", "Account") sub-item"><a href="@Url.Action("Impersonate", "Account")">@K9.Globalisation.Dictionary.ImpersonateUser</a></li>
                        }

                        <li class="@ViewContext.GetActiveClass("Index", "UserConsultations") sub-item"><a href="@Url.Action("Index", "UserConsultations")">@Dictionary.UserConsultations</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserMemberships") sub-item"><a href="@Url.Action("Index", "UserMemberships")">@Dictionary.UserMemberships</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserPromoCodes") sub-item"><a href="@Url.Action("Index", "UserPromoCodes")">@Dictionary.UserPromoCodes</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserProtocols") sub-item"><a href="@Url.Action("Index", "UserProtocols")">@Dictionary.UserProtocols</a></li>

                        <li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@K9.Base.Globalisation.Dictionary.UserRoles</a></li>

                        <li class="divider"></li>

                        <li class="@ViewContext.GetActiveClass("ClearCache", "Shared") sub-item"><a href="@Url.Action("ClearCache", "Shared")">@Dictionary.ClearCache</a></li>

                        <li class="@ViewContext.GetActiveClass("RunMaintenanceScript", "Shared") sub-item"><a href="@Url.Action("RunMaintenanceScript", "Shared")">@Dictionary.RunMaintenanceScript</a></li>
                    </ul>
                </li>
            </ul>
        }
        <ul class="site-controls">
            <li class="@ViewContext.GetActiveClass("BookConsultationStart", "Consultation")"><a title="@Dictionary.BookAConsultation" href="@Url.Action("BookConsultationStart", "Consultation")"><i class="fa fa-phone-alt"></i><span class="site-controls-text"> @Dictionary.BookAConsultation</span></a></li>

            @if (WebSecurity.IsAuthenticated)
            {
                if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsClientUser())
                {
                    <li class="@ViewContext.GetActiveClass("Index", "Support")"><a title="@Dictionary.Support" href="@Url.Action("Index", "Support")"><i class="fa fa-question-circle"></i><span class="site-controls-text"> @Dictionary.Support</span></a></li>

                    <li>
                        <a class="whatsapp-button" target="_blank" title="@Dictionary.WhatsApp" href="@(whatsAppLink)">
                            <i class="fab fa-whatsapp"></i>
                            <span class="site-controls-text">
                                @Dictionary.WhatsAppUs
                            </span>
                        </a>
                    </li>
                }

                <li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a title="@K9.Base.Globalisation.Dictionary.MyAccountTitle" href="@Url.Action("MyAccount", "Account")"><i class="fa fa-user-circle"></i><span class="site-controls-text"> @K9.Base.Globalisation.Dictionary.MyAccountTitle</span></a></li>

                var cart = this.GetShoppingCart();
                if (cart != null)
                {
                    @Html.Partial("../ShoppingCart/_MenuItem", cart)
                }
            }
            @Html.LoginLogout()

            @if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
            {
                @Html.Partial("Controls/_LanguageSelector")
            }
        </ul>
    </div>
</div>
<div id="main-logo-container" class="menu-main">
    <a class="@ViewContext.GetActiveClass("Index", "Home")" href="@Url.Action("Index", "Home")"><div class="main-logo default-logo" alt="@Dictionary.Keywords"></div></a>
</div>
<div id="main-menu-container" class="menu-main">
    <div class="container">
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse menu-main" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav main-navbar">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Products</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                <li class="@ViewContext.GetActiveClass("Index", "Product") sub-item"><a href="@Url.Action("Index", "Product")">@Dictionary.Products</a></li>
                                <li class="@ViewContext.GetActiveClass("Index", "ProductPack") sub-item"><a href="@Url.Action("Index", "ProductPack")">@Dictionary.ProductPacks</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Ingredients</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu nav navbar-nav">
                                <li class="@ViewContext.GetActiveClass("Index", "Ingredient") sub-item"><a href="@Url.Action("Index", "Ingredient")">@Dictionary.IngredientsList</a></li>
                            </ul>
                        </li>

                        <li class="@ViewContext.GetActiveClass("Index", "Home")"><a class="device-only" href="@Url.Action("Index", "Home")"> <span class="device-only">@K9.Base.Globalisation.Dictionary.Home</span></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span> @Dictionary.Protocols</span> <span class="caret"></span></a>

                            <ul class="dropdown-menu nav navbar-nav">

                                <li class="@ViewContext.GetActiveClass("Index", "ProtocolArticles")"><a href="@Url.Action("Index", "ProtocolArticles")"> @Dictionary.SeeAll</a></li>
                            </ul>
                        </li>

                        <li class="@ViewContext.GetActiveClass("Index", "Article")"><a href="@Url.Action("Index", "Article")"> @Dictionary.Articles</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div id="main-menu-spacer">
    &nbsp;
</div>
