@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Extensions
@{
	var roles = this.GetRoles();
}
<div class="header">
	<div class="container">
		<div class="header-left">
			<div class="page-title">
				<h1>
					<a href="~/">@Dictionary.VibrantTitle <span class="no-wrap">@Dictionary.HealthTitle</span></a>
				</h1>
			</div>
		</div>
		<div class="header-right">
			<ul class="nav navbar-nav navbar-right navbar-login">
				@Html.LoginLogout()
				@if (WebSecurity.IsAuthenticated)
				{
					<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("MyAccount", "Account")"><span class="glyphicon glyphicon-user"></span> @Dictionary.MyAccountTitle</a></li>
				}
				@Html.Partial("Controls/_LanguageSelector")
			</ul>
		</div>
		<div class="clearfix">
		</div>
	</div>
</div>
<div class="header-bottom">
	<div class="container">
		<div class="top-nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="@ViewContext.GetActiveClass("Index", "Home")"><a href="@Url.Action("Index", "Home")"> @Dictionary.OurMission</a></li>
						<li class="@ViewContext.GetActiveClass("Index", "Iboga")"><a href="@Url.Action("Index", "Iboga")"> @Dictionary.Iboga</a></li>
						<li class="@ViewContext.GetActiveClass("Team", "AboutUs")"><a href="@Url.Action("Team", "AboutUs")"> @Dictionary.OurTeam</a></li>
						<li class="@ViewContext.GetActiveClass("Index", "News")"><a href="@Url.Action("Index", "News")"> @Dictionary.News</a></li>
						<li class="@ViewContext.GetActiveClass("Index", "Archive")"><a href="@Url.Action("Index", "Archive")"> @Dictionary.Archive</a></li>

						@if (roles.CurrentUserIsInRoles(RoleNames.Administrators) ||
						     roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
						{
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">@Dictionary.Admin
									<span class="caret"></span></a>
								<ul class="dropdown-menu nav navbar-nav">
									@if (roles.CurrentUserIsInRoles(RoleNames.Administrators) || roles.CurrentUserHasPermissions<NewsItem>(Permissions.Create, Permissions.Edit, Permissions.Delete))
									{
										<li class="@ViewContext.GetActiveClass("Index", "NewsItems") sub-item"><a href="@Url.Action("Index", "NewsItems")">@Dictionary.Edit @Dictionary.NewsItems</a></li>
									}
									@if (roles.CurrentUserIsInRoles(RoleNames.Administrators))
									{
										<li class="@ViewContext.GetActiveClass("Index", "Users") sub-item"><a href="@Url.Action("Index", "Users")">@Dictionary.Edit @Dictionary.Users</a></li>
										<li class="@ViewContext.GetActiveClass("Index", "Roles") sub-item"><a href="@Url.Action("Index", "Roles")">@Dictionary.Edit @Dictionary.Roles</a></li>
										<li class="@ViewContext.GetActiveClass("Index", "UserRoles") sub-item"><a href="@Url.Action("Index", "UserRoles")">@Dictionary.Edit @Dictionary.UserRoles</a></li>
										<li class="@ViewContext.GetActiveClass("Index", "RolePermissions") sub-item"><a href="@Url.Action("Index", "RolePermissions")">@Dictionary.Edit @Dictionary.Role @Dictionary.Permissions</a></li>
									}
								</ul>
							</li>
						}
					</ul>
					<div class="clearfix"> </div>
				</div>
			</nav>
		</div>
		@if (!string.IsNullOrEmpty(ViewBag.MainHeading))
  {
			<div class="main-heading page-subtitle">
				<h3 class="text-white">@ViewBag.MainHeading</h3>
			</div>	
		}
	</div>
</div>