@using K9.Base.WebApplication.Extensions
@model List<Product>

@if (Model != null)
{
    <li class="@ViewContext.GetActiveClass("Details", "Products")"><a href="@Url.Action("Details", "Product")"> @Dictionary.SeeAllProducts</a></li>

    <li class="divider"></li>

    foreach (var product in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Product", new {seoFriendlyId = product.SeoFriendlyId})"> @product.Name</a>
        </li>
    }
}