@using System.Web.Mvc.Html
@using K9.Base.WebApplication.ViewModels
@model Ingredient

@if (Model.ImageFileSource != null)
{
    @Html.Partial("_ImageFilesDisplay", new FileSourceViewModel(Model.ImageFileSource))
}

<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Model.Name
        </h1>
        <h3 class="padding-horizontal-40 margin-top-0">
            @MvcHtmlString.Create(Model.ShortDescription)
        </h3>
    </div>
</div>

<hr />

<article>
    <h5>@Dictionary.OverviewLabel</h5>
    @MvcHtmlString.Create(Model.Body)

    <h5>@Dictionary.BenefitsLabel</h5>
    @MvcHtmlString.Create(Model.Benefits)
    
    @if (!string.IsNullOrWhiteSpace(Model.SubjectiveEffects))
    {
        <h5>@Dictionary.SubjectiveEffectsLabel</h5>
        @MvcHtmlString.Create(Model.SubjectiveEffects)
    }

    <h5>@Dictionary.DeficiencySymptomsLabel</h5>
    @MvcHtmlString.Create(Model.DeficiencySymptoms)

    <h5>@Dictionary.ResearchLabel</h5>
    @MvcHtmlString.Create(Model.Research)
</article>