@using K9.WebApplication.Config
<footer class="container-fluid text-center">
	<p>@Dictionary.CompanyLegalDescription</p>
	<p>@Dictionary.AgreeToTerms &copy; @DateTime.Now.Year - @WebsiteConfiguration.Instance.CompanyName. @Dictionary.AllRightsReserved.</p>
</footer>