@using K9.WebApplication.Config
@using K9.WebApplication.Extensions
<nav class="navbar navbar-inverse">
	<div class="container-fluid k9-navbar">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
				</span>
			</button>
			<a class="navbar-brand" href="~/"><span class="glyphicon glyphicon-home"></span> @WebsiteConfiguration.Instance.CompanyName</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("OurMission", "AboutUs")"> @Dictionary.OurMission</a></li>
				<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("Index", "Iboga")"> @Dictionary.Iboga</a></li>
				<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("HelpUs", "AboutUs")"> @Dictionary.HelpUs</a></li>
				<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("Index", "News")"> @Dictionary.News</a></li>
				<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("Index", "Archive")"> @Dictionary.Archive</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group input-group">
					<input id="main-search" type="text" class="form-control" placeholder="@Dictionary.Search..." />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				@Html.LoginLogout()
				@if (WebSecurity.IsAuthenticated)
				{
					<li class="@ViewContext.GetActiveClass("MyAccount", "Account")"><a href="@Url.Action("MyAccount", "Account")"><span class="glyphicon glyphicon-user"></span> @Dictionary.MyAccountTitle</a></li>
				}
			</ul>
		</div>
	</div>
</nav>