@using K9.Base.WebApplication.Helpers
@model Client

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.FullName)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.CompanyName)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.BootstrapEditorFor(model => model.Notes)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.EmailAddress)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.PhoneNumber)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Address)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.CountryId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.IsUnsubscribed)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.PriceTier)
    </div>
</div>