@using K9.Base.WebApplication.Helpers
@model Contact

<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
</div>
<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
</div>
<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel")
    </div>
</div>
