@using K9.Base.WebApplication.Helpers
@model K9.WebApplication.Models.AddressLabelViewModel

<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
</div>
<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Recipient)
    </div>
</div>
<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
</div>
<div class="row padding-0 margin-0">
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
    <div class="col-xs-4 padding-0 margin-0">
        @Html.Partial("_AddressLabel", Model.Sender)
    </div>
</div>
