@using K9.Base.WebApplication.Helpers
@model Contact

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FullName)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.CompanyName)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.EmailAddress)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.PhoneNumber)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Address)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.Country)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.IsUnsubscribed)
    </div>
</div>