@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model ProductPack

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.SeoFriendlyId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ClientId)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FormattedTotalProductsPrice)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.SuggestedRetailPrice)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Price)
    </div>
</div>

<hr />

<div class="row">
    @Html.BootstrapEditorFor(model => model.ShortDescription)
</div>
<div class="row">
    @Html.BootstrapEditorFor(model => model.Body)
</div>

<div class="row">
    @Html.BootstrapEditorFor(model => model.Benefits)
</div>

<hr />

<div class="row">
    @Html.BootstrapEditorFor(model => model.ImageFileSource)
</div>
<div class="row">
    @Html.BootstrapEditorFor(model => model.VideoFileSource)
</div>