@model List<NewsItem>
@{
	ViewBag.Title = Dictionary.Home;
}

<div class="banner-forest1 main-banner">
	@Html.Partial("_Navbar")
</div>

<div class="main-section">
	<div class="container">
		<div class="main-heading">
			<h3>@Dictionary.News</h3>
		</div>
		@foreach (var newsItem in Model)
		{
			<div>
				<div class="col-md-5">
					<div class="picture-frame picture-frame-300">
						<div>
							@Html.Carousel(new CarouselOptions(newsItem.ImageFileSource.PathToFiles, "", 70)
							{
								ImageSizing = EImageSizing.Vertical
							})
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="news-item-title">
						<p><strong>@Dictionary.PublishedOnLabel</strong>: @newsItem.PublishedOn.ToLongDateString()</p>
						<p><strong>@Dictionary.PublishedByLabel</strong>: @newsItem.PublishedBy</p>
					</div>
					<h5>
						@MvcHtmlString.Create(newsItem.Subject)
					</h5>
					<article>
						<p>
							@MvcHtmlString.Create(newsItem.Body)
						</p>
					</article>
				</div>
				<div class="clearfix"> </div>
			</div>
			<br/>			
		}
		<div class="clearfix"></div>
	</div>
</div>