@using K9.Base.WebApplication.ViewModels
@using K9.WebApplication.Extensions
@model ArchiveItem

<div class="archive-content-item scrollFadeUp">
    @if (!Model.IsHideMetaData)
    {
        <div class="news-item-title">
            <p><strong>@K9.Base.Globalisation.Dictionary.PublishedOnLabel</strong>: @Model.PublishedOn.ToLongDateString()</p>
            <p><strong>@K9.Base.Globalisation.Dictionary.PublishedByLabel</strong>: @Model.PublishedBy</p>
            <p><strong>@K9.Base.Globalisation.Dictionary.LanguageLabel</strong>: @Model.LanguageName</p>
            @if (Model.ArchiveItemType.GetLocalisedDescription() == K9.Base.Globalisation.Dictionary.Links)
            {
                <p><strong>@K9.Base.Globalisation.Dictionary.Source</strong>: <a target="_blank" href="@Model.Url">@Model.Url</a></p>
            }
        </div>
    }
    <h5>
        <a href="@Url.Action("Details", "ArchiveItems", new {title = Model.SeoFriendlyId ?? Model.Title.ToSeoFriendlyString()})">@MvcHtmlString.Create(Model.Title.ToUpper())</a>
    </h5>
    <article>
        <p>
            @MvcHtmlString.Create(Model.DescriptionText)
        </p>
    </article>
    <div>
        @if (!string.IsNullOrEmpty(Model.Url))
        {
            if (Model.ArchiveItemType.GetLocalisedDescription() == K9.Base.Globalisation.Dictionary.Links)
            {
                <br />
                @Html.Partial("_LinkPreview", new LinkViewModel
                {
                    Url = Model.Url,
                    ImageUrl = Model.ImageUrl,
                    CssClasses = Model.AdditionalCssClasses
                })
            }
            else if (Model.ArchiveItemType.GetLocalisedDescription() == K9.Base.Globalisation.Dictionary.Videos)
            {
                <br />
                @Html.Partial("_EmbeddedVideo", Model.Url)
            }
        }
        else
        {
            @Html.Partial("_UploadedFilesDisplay", new FileSourceViewModel(Model.FileSource))
        }
    </div>
    <hr />
</div>