@model K9.Base.WebApplication.ViewModels.ArchiveViewModel
<div id="archive-menu-container">
    <div id="archive-menu" class="list-group">
        @foreach (var item in Model.ArchiveItemCategories)
        {
            var selected = item.ArchiveItemCategory.Id == Model.SelectedArchiveItemCategoryId ? "active" : "";
            <a href="@Url.Action("Index", "Archive", new { categoryId = item.ArchiveItemCategory.Id })" class="list-group-item archive-menu-item @selected" data-category-id="@item.ArchiveItemCategory.Id">@item.ArchiveItemCategory.Description <span class="badge">@item.Items.Count</span></a>
        }
    </div>
</div>