@using K9.Base.WebApplication.Helpers
@using K9.DataAccessLayer.Attributes
@using K9.DataAccessLayer.Enums
@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model HealthQuestionnaire

@{
    var genoType = Model.CalculateGenotype();
    var strengthTestResults = Model.GetGroupedStrengthTestResults();
}

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.GenoType</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => genoType.GenoType)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => genoType.Strength)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => Model.BloodGroupDisplay)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => Model.RhesusFactorDisplay)
        </div>
    </div>
</div>

@if (K9.WebApplication.Helpers.SessionHelper.CurrentUserIsAdmin())
{
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="section-title">@Dictionary.StrengthTestResults</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var result in strengthTestResults.FilteredResults)
            {

                <div class="col-xs-6 col-sm-3 col-md-2">
                    @Html.Partial("Controls/_Gauge", new GaugeOptions
                    {
                        MaxValue = 100,
                        Value = (int) strengthTestResults.GetGaugaeValue(result),
                        Title = result.GenoTypeName,
                        BackgroundColor = $"rgb({result.Color}, 0.33)",
                        StrokeColor = $"rgb({result.Color})",
                        Units = $"{strengthTestResults.GetResultAsPercentage(result)}%",
                    })
                </div>
            }
        </div>
    </div>
}

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.GenoTypeDetails</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(typeof(Dictionary).GetValueFromResource(genoType.GenoTypeDetailsName))
        </div>
    </div>
</div>
