@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model HealthQuestionnaire

@{
    var nineStarKiModel = Model.GetNineStarKiModel();
}

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.NineStarKi</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.MainEnergy)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.CharacterEnergy)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.SurfaceEnergy)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.YearlyCycleEnergy)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.MonthlyCycleEnergy)
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.StrongOrgans</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(Dictionary.StrongOrgansDescription)
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.StrongYinOrgans)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.StrongYangOrgans)
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="section-title">@Dictionary.WeakOrgans</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(Dictionary.WeakOrgansDescription)
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.WeakYinOrgans)
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            @Html.BootstrapDisplayFor(e => nineStarKiModel.WeakYangOrgans)
        </div>
    </div>
</div>