@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@model Order
@{
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.Title = Dictionary.OrderReview;
    ViewBag.SubTitle = Dictionary.OrderReview;

    var whatsAppTelephone = DefaultValuesConfiguration.Instance.WhatsAppSupportNumber;
    var whatsAppQueryText = Url.Encode($"Hi. I have a query regarding order: {Model.OrderNumber}");
    var whatsAppLink = ViewBag.DeviceType == EDeviceType.Desktop
        ? $"https://web.whatsapp.com/send?phone={whatsAppTelephone}&text={whatsAppQueryText}"
        : $"https://wa.me/{whatsAppTelephone}/?text={whatsAppQueryText}";
}
@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_DisplayFields")

        <hr />

        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.MyAccountTitle, "MyAccount", "Account", null, "fa fa-user-circle")

        <a class="btn btn btn-primary" target="_blank" title="@Dictionary.WhatsAppUs" href="@(whatsAppLink)">
            <i class="fab fa-whatsapp"></i>
            <span class="site-controls-text">
                @Dictionary.WhatsAppUs
            </span>
        </a>
    }
}