@model K9.WebApplication.Models.MembershipModel

<div class="shadow-light @Model.MembershipHoverCssClass membership-option-container @Model.MembershipDisplayCssClass">
    <div class="membership-option-title">
        <h5><strong>@Model.MembershipOption.SubscriptionTypeNameLocal</strong></h5>
    </div>
    <div class="membership-option">
        @Html.Partial("_MembershipMedal", Model.MembershipOption)
        <div class="membership-footer">
            @if (Model.IsSubscribed || Model.IsSelected)
            {
                <div class="membership-selected-container">
                    @Html.Partial("_Selected")
                </div>
            }
            else if (Model.IsSelectable)
            {
                var buttonText = Model.ActiveUserMembershipId > 0
                    ? Model.IsUpgrade
                        ? Dictionary.Upgrade
                        : Dictionary.Switch
                    : Dictionary.Select;
                var iconClass = Model.ActiveUserMembershipId > 0
                    ? Model.IsUpgrade
                        ? "fa-level-up-alt"
                        : "fa-random"
                    : Dictionary.Select;
                <div style="padding-top: 1px;">
                    @Html.BootstrapActionLinkButton(buttonText, Model.IsUpgrade ? "SwitchStart" : "PurchaseStart", "Membership", new { membershipOptionId = Model.MembershipOption.Id }, iconClass)
                </div>
            }
            else
            {
                <p style="padding-top: 6px; padding-bottom: 5px;">@Dictionary.Unavailable</p>
            }
        </div>
    </div>
</div>