@model UserMembership

@{
    ViewBag.Title = Dictionary.MembershipLabel;
    var buttonText = Model.MembershipOption.IsUpgradable
        ? Dictionary.Upgrade
        : Dictionary.Switch;
}

<div class="shadow-light membership-option-container">
    <div class="membership-option-title">
        <h5><strong>@Model.MembershipOption.SubscriptionTypeNameLocal</strong></h5>
    </div>
    <div class="membership-option">
        @Html.Partial("../Membership/_MembershipMedal", Model.MembershipOption)
        <div class="membership-footer">
            <div class="membership-selected-container">
                @Html.Partial("_Selected")
                @Html.Partial("../Membership/_MembershipFooter")
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <strong>@Dictionary.NumberOfConsultationsLeft:</strong>
    </div>
    <div class="col-sm-4 col-xs-12">
        
    </div>
    <div class="padding-top-10">
        <div class="col-sm-8 col-xs-12 padding-top-5">
            <strong>@Dictionary.NumberOfCreditsLeft:</strong>
        </div>
        <div class="col-sm-4 col-xs-12 padding-top-5">
            @Model.NumberOfCreditsLeft
        </div>
    </div>
</div>