@using System.Web.Mvc.Html
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.ViewModels.MembershipViewModel

@{
    ViewBag.Title = Dictionary.MembershipLabel;
    ViewBag.SubTitle = Dictionary.MembershipOptions;
    Layout = "../Shared/_LayoutForm.cshtml";
}

<div class="container main-content">
    <div class="row">
        <div class="text-center">
            @foreach (var membershipModel in Model.MembershipModels.Where(e => e.IsPayable))
            {
                <div class="col-md-3 col-sm-6 padding-0">
                    @Html.Partial("_MembershipOption", membershipModel)
                </div>
            }
        </div>
    </div>
    <div class="row well">
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(TemplateProcessor.PopulateTemplate(Dictionary.standard_monthly_membership_description,
                    new
                    {
                        NumberOfConsultations = Model.MonthlyMaxNumberOfConsultations
                    }))
            </div>
        </div>
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(TemplateProcessor.PopulateTemplate(Dictionary.standard_annual_membership_description,
                    new
                    {
                        NumberOfConsultations = Model.MonthlyMaxNumberOfConsultations
                    }))
            </div>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(TemplateProcessor.PopulateTemplate(Dictionary.platinum_monthly_membership_description,
                    new
                    {
                        NumberOfConsultations = Model.MonthlyMaxNumberOfConsultations
                    }))
            </div>
        </div>
        <div class="col-md-6 col-sm-12 padding-0">
            <div class="membership-description">
                @MvcHtmlString.Create(TemplateProcessor.PopulateTemplate(Dictionary.platinum_annual_membership_description,
                    new
                    {
                        NumberOfConsultations = Model.MonthlyMaxNumberOfConsultations
                    }))
            </div>
        </div>
    </div>
    <div class="row well margin-bottom-0">
        <div class="col-sm-12 padding-0">
            <div class="membership-description">
                <div class="membership-summary">
                    <h4><strong>@Dictionary.PurchaseCredits:</strong></h4>
                    <p>
                        &#8226; @Dictionary.CreditsDescriptionUI
                    </p>
                </div>
            </div>
            <hr />
            @Html.BootstrapActionLinkButton(Dictionary.PurchaseCredits, "PurchaseCreditsStart", "Membership", null, "fa-money-bill-alt")
        </div>
    </div>
    <hr />
    @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.MyAccountTitle, "MyAccount", "Account", null, "fa-user-circle")
</div>
