@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model HealthQuestionnaire

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.StandingHeight)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.StandingHeight, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.SittingHeight)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.SittingHeight, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.ChairHeight)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.ChairHeight, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.LowerLegLength)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.LowerLegLength, new EditorOptions
           {
               Label = ""
           })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.UpperLegLength)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.UpperLegLength, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.IndexFingerLengthLeft)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.IndexFingerLengthLeft, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.IndexFingerLengthRight)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.IndexFingerLengthRight, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.RingFingerLengthLeft)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.RingFingerLengthLeft, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.RingFingerLengthRight)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.RingFingerLengthRight, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.SpaceBetweenThighs)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.SpaceBetweenThighs, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.WaistSize)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.WaistSize, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.HipSize)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.HipSize, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.GonialAngle)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.GonialAngle, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.HeadWidth)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.HeadWidth, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.HeadLength)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.HeadLength, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.SomatoType)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.SomatoType, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.TendonsAndSinewsVisible)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.TendonsAndSinewsVisible, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.WristsAndAnklesLookPadded)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.WristsAndAnklesLookPadded, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(e => e.GainsMuscleEasily)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            @Html.BootstrapEditorFor(e => e.GainsMuscleEasily, new EditorOptions
            {
                Label = ""
            })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            @Html.CollapsiblePanel(Dictionary.MoreDetails, Dictionary.Acetylation)
        </div>
    </div>
</div>

<hr />

<a id="backToPage3" class="btn btn-primary btn-lg" title="@Dictionary.Back" href="#">
    <i class="fa fa-chevron-left"></i>
    <span class="site-controls-text">
        @Dictionary.Back
    </span>
</a>

@Html.BootstrapButton(Dictionary.SaveAndContinue, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight, EButtonClass.Large)

<script type="text/javascript">

    $(window).on("load",
        function () {

            $("#backToPage3").click(function () {
                $.fn.activateTab("acetylation");
            });

        });

</script>