@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@model HealthQuestionnaire
@{
    Layout = "../Shared/_LayoutFormWide.cshtml";
    ViewBag.Title = Dictionary.HealthQuestionnaire;
    ViewBag.SubTitle = Dictionary.HealthQuestionnaire;

    var whatsAppTelephone = DefaultValuesConfiguration.Instance.WhatsAppSupportNumber;
    var whatsAppQueryText = Url.Encode($"Hi. I have a query regarding the health questoinnaire.");
    var whatsAppLink = ViewBag.DeviceType == EDeviceType.Desktop
        ? $"https://web.whatsapp.com/send?phone={whatsAppTelephone}&text={whatsAppQueryText}"
        : $"https://wa.me/{whatsAppTelephone}/?text={whatsAppQueryText}";
}
@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.Id)

        @Html.Partial("_Pills")

        <hr />

        <h3>@Dictionary.DoYouHaveAQuestion</h3>

        <a class="btn btn btn-primary" target="_blank" title="@Dictionary.WhatsAppUs" href="@(whatsAppLink)">
            <i class="fab fa-whatsapp"></i>
            <span class="site-controls-text">
                @Dictionary.WhatsAppUs
            </span>
        </a>
    }
}