@using System.Web.Mvc.Html
@using K9.Base.WebApplication.ViewModels
@model Product


<h5>@Dictionary.Ingredients</h5>

@foreach (var productIngredient in Model.ProductIngredients)
{
    <h5>@productIngredient.Ingredient.Name</h5>
    <p>@MvcHtmlString.Create(productIngredient.FormattedAmount)</p>
    <p>@MvcHtmlString.Create(productIngredient.Ingredient.ShortDescription)</p>
    @Html.BootstrapActionLinkButton(Dictionary.FindOutMore, "Info", "Ingredients", new { seoFriendlyId = productIngredient.Ingredient.SeoFriendlyId }, "", EButtonClass.Primary, EButtonClass.Small)
}
