@using System.Web.Mvc.Html
@using K9.Base.WebApplication.ViewModels
@model List<Product>


<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Dictionary.Products
        </h1>
    </div>
</div>

<hr />

<article>
    @if (Model.Any())
    {
        foreach (var product in Model)
        {
            <h5>@product.Name</h5>
            <p>@MvcHtmlString.Create(product.ShortDescription)</p>
            @Html.BootstrapActionLinkButton(Dictionary.FindOutMore, "Details", "Product", new { seoFriendlyId = product.SeoFriendlyId }, "", EButtonClass.Primary, EButtonClass.Small)
        }
    }
    else
    {
        @MvcHtmlString.Create(Dictionary.ComingSoon)
    }
</article>