@using System.Web.Mvc.Html
@using K9.Base.DataAccessLayer.Attributes
@using K9.Base.WebApplication.ViewModels
@using K9.DataAccessLayer.Helpers
@using K9.SharedLibrary.Extensions
@model List<Product>


<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Dictionary.Products
        </h1>
    </div>
</div>

<hr />

<article>
    @if (Model.Any())
    {
        var categoryIndex = 0;

        <ul class="nav nav-pills">

            @foreach (var category in Model.Select(e => e.Category).Distinct().OrderBy(e => e.ToString()))
            {
                var categoryText = category.GetAttribute<EnumDescriptionAttribute>().GetDescription();
                var categoryTitle = categoryText.Pluralise();

                if (categoryIndex == 0)
                {
                    <li class="active"><a data-toggle="pill" href="#@categoryText">@categoryTitle</a></li>
                }
                else
                {
                    <li><a data-toggle="pill" href="#@categoryText">@categoryTitle</a></li>
                }

                <div class="row">
                    <div class="col-xs-12">
                        <h2></h2>
                        <hr />
                    </div>
                </div>

                categoryIndex++;
            }

        </ul>

        categoryIndex = 0;

        foreach (var category in Model.Select(e => e.Category).Distinct().OrderBy(e => e.ToString()))
        {
            var categoryText = category.GetAttribute<EnumDescriptionAttribute>().GetDescription();
            var products = Model.Where(e => e.Category == category).ToList();

            <div class="tab-content">
                @if (categoryIndex == 0)
                {
                    <div id="@categoryText" class="tab-pane fade in active padding-top-15">
                        @Html.Partial("../Product/_ProductsList", products)
                    </div>
                }
                else
                {
                    <div id="@categoryText" class="tab-pane fade padding-top-15">
                        @Html.Partial("../Product/_ProductsList", products)
                    </div>
                }
            </div>
        }
    }
    else
    {
        @MvcHtmlString.Create(Dictionary.ComingSoon)
    }
</article>