@using System.Web.Mvc.Html
@using K9.Base.DataAccessLayer.Attributes
@using K9.Base.WebApplication.ViewModels
@using K9.DataAccessLayer.Helpers
@using K9.SharedLibrary.Extensions
@using K9.WebApplication.Options
@model List<Product>

@Html.Partial("_AjaxPopup", new AjaxPopupOptions())

@foreach (var product in Model)
{
    <div class="row">
        <div class="col-xs-4">
            @if (product.ImageFileSource != null)
            {
                @Html.Partial("_ImageFilesDisplay", new FileSourceViewModel(product.ImageFileSource))
            }
        </div>
        <div class="col-xs-8">
            <h4 class="margin-bottom-0">@product.Name</h4>
            <h6 class="margin-0">@product.GetFormattedAmount()</h6>
            <h5 class="margin-0">@product.GetFormattedInternationalPrice()</h5>

            <br />
            <p>@MvcHtmlString.Create(product.ShortDescription)</p>

            @Html.BootstrapActionLinkButton(Dictionary.FindOutMore, "Details", "Product", new { seoFriendlyId = product.SeoFriendlyId }, "", EButtonClass.Primary, EButtonClass.Large)

            <a data-id="@product.Id" href="#" class="add-to-cart-button btn btn btn-primary btn-lg"><i class="fa fa-cart-plus"></i> @Dictionary.AddToCart</a>
        </div>
    </div>
    <br />
    <hr />
}

<script type="text/javascript">
    $(function () {

        $("button.add-to-cart-button").click(function() {
                $("#pageSpinner").show();
                var id = $(this).data("id");
                ajaxcontroller().send("@Url.Action("AddProductToCart", "ShoppingCart")",
                    {
                        productId: id
                    }, "POST").done(
                    function(result) {
                        $.fn.processResultAndShowPopup(result);
                    });
            });
</script>