@using System.Web.Mvc.Html
@using K9.Base.DataAccessLayer.Attributes
@using K9.Base.WebApplication.ViewModels
@using K9.DataAccessLayer.Helpers
@using K9.SharedLibrary.Extensions
@model List<Product>


<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Dictionary.Products
        </h1>
    </div>
</div>

<hr />

<article>
    @if (Model.Any())
    {
        var categoryIndex = 0;
        var categories = Model.Select(e => e.Category).Distinct().OrderBy(e => e.ToString()).ToList();

        <ul class="nav nav-pills">
            @foreach (var category in categories)
            {
                var categoryText = category.GetAttribute<EnumDescriptionAttribute>().GetDescription();

                if (categoryIndex == 0)
                {
                    <li class="active"><a data-toggle="pill" href="#@categoryText">@categoryText</a></li>
                }
                else
                {
                    <li><a data-toggle="pill" href="#@categoryText">@categoryText</a></li>
                }

                categoryIndex++;
            }

        </ul>

        <br />

        <div class="tab-content">
            @{
                categoryIndex = 0;

                foreach (var category in categories)
                {
                    var categoryText = category.GetAttribute<EnumDescriptionAttribute>
                        ().GetDescription();
                    var products = Model.Where(e => e.Category == category).ToList();

                    if (categoryIndex == 0)
                    {
                        <div id="@categoryText" class="tab-pane fade in active padding-top-15">
                            @Html.Partial("../Product/_ProductsList", products)
                        </div>
                    }
                    else
                    {
                        <div id="@categoryText" class="tab-pane fade padding-top-15">
                            @Html.Partial("../Product/_ProductsList", products)
                        </div>
                    }

                    categoryIndex++;
                }
            }
        </div>
    }
    else
    {
        @MvcHtmlString.Create(Dictionary.ComingSoon)
    }
</article>