@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model ProductIngredient

@Html.HiddenFor(e => e.ProductId)
@Html.HiddenFor(e => e.IngredientId)

<div class="row">
    <div class="col-sm-4">
        @Html.BootstrapDisplayFor(model => model.ProductId)
    </div>
    <div class="col-sm-4">
        @Html.BootstrapDisplayFor(model => model.IngredientId)
    </div>
    <div class="col-sm-4">
        @Html.BootstrapEditorFor(model => model.Amount)
    </div>
</div>
