@using System.Web.Mvc.Html
@using K9.Base.WebApplication.ViewModels
@model ProductPack

@if (Model.ImageFileSource != null)
{
    @Html.Partial("_ImageFilesDisplay", new FileSourceViewModel(Model.ImageFileSource))
}

<div class="row text-center">
    <div class="col-md-12">
        <h1 class="margin-top-5 goldenrod">
            @Model.Name
        </h1>
        <h3 class="padding-horizontal-40 margin-top-0">
            @MvcHtmlString.Create(Model.ShortDescription)
        </h3>
    </div>
</div>

<hr />

<article>
    <h5>@Dictionary.OverviewLabel</h5>
    @MvcHtmlString.Create(Model.Body)

    <br />

    <h5>@Dictionary.PriceLabel</h5>
    @Model.FormattedPrice

    <br />

    <h5>@Dictionary.DosageLabel</h5>
    @MvcHtmlString.Create(Model.Dosage)

    <br />

    <h5>@Dictionary.BenefitsLabel</h5>
    <div class="benefits">
        @MvcHtmlString.Create(Model.Benefits)
    </div>

    <br />

    @Html.Partial("../ProductPacks/_ProductsSummary", Model)

    <hr />

    <div class="row">
        <div class="col-xs-12 large-text">
            @Html.BootstrapDisplayFor(e => e.ProductsDiscount)
        </div>
    </div>

    <hr />

    <div class="buttons-container">
        @Html.BootstrapActionLinkButton(Dictionary.SeeAllProductPacks, "Index", "ProductPack", null, "", EButtonClass.Info, EButtonClass.Large)
    </div>
</article>