@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@using Client = MailChimp.Net.Models.Client
@model K9.WebApplication.ViewModels.OrdersReviewViewModel

@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        var incompleteOrders = Model.GetIncompleteOrders();
        var clientIds = incompleteOrders.Select(e => e.ClientId).ToList();

        <div class="padding-5 padding-top-15 row">
            <div class="col-xs-12">
                @Html.BootstrapActionLinkButton(Dictionary.ViewClientAddressLabels, "ViewClientAddressLabelsForAllOrders", "Clients")
            </div>
        </div>
        <hr />

        foreach (var order in incompleteOrders)
        {
            <div class="padding-5 padding-top-15 row">
                <div class="col-sm-4 valign-top">
                    <p><strong>@order.Client.FullName</strong></p>
                    <p>
                        @order.Client.Address
                        @order.Client.Country.Name
                    </p>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.LabelFor(e => order.Products[0].ProductName)
                        </div>
                        <div class="col-xs-3">
                            @Html.LabelFor(e => order.Products[0].Amount)
                        </div>
                        <div class="col-xs-3">
                            @Html.LabelFor(e => order.Products[0].AmountCompleted)
                        </div>
                    </div>
                    @foreach (var item in order.GetCombinedGroupedProducts())
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                @Html.ValueFor(e => item.Product.Name)
                            </div>
                            <div class="col-xs-3">
                                @Html.ValueFor(e => item.Amount)
                            </div>
                            <div class="col-xs-3">
                                @Html.BootstrapEditorFor(e => item.AmountCompleted, new EditorOptions
                                {
                                    Label = ""
                                })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <hr />
        }
    }
}


