@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Order

@Html.HiddenFor(model => model.ExternalId)
@Html.HiddenFor(model => model.OrderNumber)
@Html.HiddenFor(model => model.UserId)
@Html.HiddenFor(model => model.TotalPriceMinusShipping)

@Html.ValidationSummary(false)

<div class="row">
    <div class="col-sm-12">
        <h3>@Dictionary.Order: @Model.OrderNumber</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ShortDescription)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ClientId)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.RepId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.UserId)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.OrderType)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.IsOnHold)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.IsLocalDelivery)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Discount)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ShippingCost)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.DiscountAmount)
    </div>
    <div class="col-sm-6">
        @Html.HiddenFor(model => model.TotalPrice)
        @Html.BootstrapDisplayFor(model => model.TotalPrice)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FormattedSuggestedDiscountAsPercent)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.FormattedSuggestedDiscountAmount)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ShopCommission)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ShopCommissionAmount)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.ShopPayableAmount)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.TotalShopPayableAmount)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.GrandTotal)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.OrderStatusText)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.IsPaid)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.RequestedOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.DueBy)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.StartedOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.MadeOn)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.PaidOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.CompletedOn)
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-12">
        <h3>@Dictionary.Details</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductSummary, Html.Partial("../Orders/_ProductsSummary").ToString())
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductPackSummary, Html.Partial("../Orders/_ProductPackSummary").ToString())
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.IsProductsOnly)
    </div>
</div>

<script type="text/javascript">

    $(window).on("load", function () {
        $("#Discount").change(function () {
            var totalPrice = $("#TotalPriceMinusShipping").val();
            var perc = $("#Discount").val();
            let discountAmount = (totalPrice * (perc / 100));
            var grandTotal = totalPrice - discountAmount;

            var formattedDiscountAmount = "฿" + $.fn.formatNumberWithCommas(discountAmount.toFixed(2));
            var formattedTotal = "฿" + $.fn.formatNumberWithCommas(grandTotal.toFixed(2));

            $("div[data-input-id='GrandTotal']").find("div").text(formattedTotal);
            $("div[data-input-id='DiscountAmount']").find("div").text(formattedDiscountAmount);
        });
    })

</script>
