@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model Order

<div class="row">
    <div class="col-sm-12">
        @Html.BootstrapEditorFor(model => model.Name)
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.BootstrapEditorFor(model => model.ShortDescription)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ContactId)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.UserId)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.OrderType)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.OrderStatusText)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapDisplayFor(model => model.IsPaid)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.RequestedOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.DueBy)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.StartedOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.MadeOn)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.PaidOn)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.CompletedOn)
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-12">
        <h3>@Dictionary.Details</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductSummary, Html.Partial("../Orders/_ProductsSummary").ToString())
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.CollapsiblePanel(Dictionary.ProductPackSummary, Html.Partial("../Orders/_ProductPackSummary").ToString())
    </div>
</div>