@using K9.Base.WebApplication.Extensions
@using K9.SharedLibrary.Authentication
@using K9.WebApplication.Constants
@model Order

<div class="row">
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.Products[0].Name)
    </div>
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.Products[0].Amount)
    </div>
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.Products[0].PriceTier)
    </div>
    <div class="col-sm-3">
        @Html.LabelFor(e => Model.Products[0].TotalInternationalPrice)
    </div>
</div>
<hr />
@for (int i = 0; i < Model.Products?.Count; i++)
{
    <div class="row">
        <div class="col-sm-3">
            @if (this.GetRoles().CurrentUserIsInRoles(RoleNames.Administrators))
            {
                <a target="_blank" href="@Url.Action("Edit", "Products", new {id = Model.Products[i].ProductId})">
                    @Html.DisplayFor(e => Model.Products[i].Product.Name)
                </a>
            }
            else if (this.GetRoles().CurrentUserIsInRoles(Constants.UnicornUser))
            {
                <a target="_blank" href="@Url.Action("Link", "Product", new {id = Model.Products[i].Product.ExternalId})">
                    @Html.DisplayFor(e => Model.Products[i].Product.Name)
                </a>
            }
            else
            {
                @Html.DisplayFor(e => Model.Products[i].Product.Name)
            }
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(e => Model.Products[i].Amount)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(e => Model.Products[i].PriceTier)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(e => Model.Products[i].TotalInternationalPrice)
        </div>
    </div>

    <hr />

}
<div class="row">
    <div class="col-sm-3">
        <strong>@Dictionary.TotalLabel</strong>
    </div>
    <div class="col-sm-3">
        <strong>@Model.GetTotalProducts()</strong>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <strong>@Html.DisplayFor(e => Model.TotalInternationalProductsPrice)</strong>
    </div>
</div>

