@using K9.Base.WebApplication.Controllers
@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Authentication
@using K9.SharedLibrary.Models
@using EButtonType = K9.SharedLibrary.Models.EButtonType
@model K9.WebApplication.ViewModels.OrdersReviewViewModel
@{
    Layout = "~/Views/Shared/_LayoutFormWide.cshtml";
    ViewBag.Title = Dictionary.Orders;
    ViewBag.SubTitle = Dictionary.Orders;

    var incompleteOrders = Model.GetIncompleteOrders();
    var completeOrders = Model.GetCompleteOrders();
    var ordersOnHold = Model.GetOrdersOnHold();
    var shopProvisions = Model.GetShopProvisionOrders();
    var restockOrders = Model.GetRestockOrders();
}

<div class="row">
    <div class="col-xs-6 padding-0">
        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.CreateNew, "Create", "Orders", null, "fa fa-plus-circle", EButtonClass.Primary)
    </div>
    <div class="col-xs-6">
        @Html.Partial("Controls/_SearchBox", new SearchBoxOptions
        {
            CssSelector = "div.checkbox"
        })
    </div>
</div>

<br />

<div class="well">
    <div class="row table-row">
        <div class="col-xs-12">

            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#incomplete-orders">@Dictionary.IncompleteOrders</a></li>
                <li><a data-toggle="pill" href="#shop-provisions">@Dictionary.ShopProvisions</a></li>
                <li><a data-toggle="pill" href="#shop-restock">@Dictionary.Restock</a></li>
                <li><a data-toggle="pill" href="#on-hold">@Dictionary.OrdersOnHold</a></li>
                <li><a data-toggle="pill" href="#complete-orders">@Dictionary.CompleteOrders</a></li>
            </ul>

            <div class="tab-content">
                <div id="incomplete-orders" class="tab-pane fade active in padding-top-15">
                    @Html.Partial("_OrdersTableFields", incompleteOrders)
                </div>
                <div id="shop-provisions" class="tab-pane fade padding-top-15">
                    @Html.Partial("_OrdersTableFields", shopProvisions)
                </div>    
                <div id="shop-restock" class="tab-pane fade padding-top-15">
                    @Html.Partial("_OrdersTableFields", restockOrders)
                </div>
                <div id="on-hold" class="tab-pane fade padding-top-15">
                    @Html.Partial("_OrdersTableFields", ordersOnHold)
                </div>
                <div id="complete-orders" class="tab-pane fade padding-top-15">
                    @Html.Partial("_OrdersTableFields", completeOrders)
                </div>
            </div>
        </div>
    </div>
</div>

