@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.ViewModels
@model OrdersReviewViewModel
@{
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.SubTitle = Dictionary.OrdersReview;
}

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#orderreview">@Dictionary.OrderReview</a></li>
    <li><a data-toggle="pill" href="#allorders">@Dictionary.AllOrdersOverview</a></li>
    <li><a data-toggle="pill" href="#pickslip">@Dictionary.OrdersPickSlip</a></li>
</ul>

<div class="tab-content">
    <div id="orderreview" class="tab-pane fade in active padding-top-15">
        @using (Html.BeginForm())
        {
            using (Html.BeginBootstrapForm())
            {
                @Html.Hidden("index", 0)

                <div class="row">
                    <div class="col-xs-12">
                        @Html.BootstrapEditorFor(model => Model.SelectedOrderId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.CreateNew, "Create", "Orders", null, "fa-plus-circle")
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="inline-checkbox">
                            @Html.BootstrapEditorFor(e => e.SelectedOrder.IsPaid)
                            @Html.BootstrapEditorFor(e => e.SelectedOrder.IsMade)
                            @Html.BootstrapEditorFor(e => e.SelectedOrder.IsComplete)
                            @Html.BootstrapEditorFor(e => e.SelectedOrder.IsOnHold)
                        </div>

                        @Html.Partial("_AjaxPopup")
                    </div>
                </div>
            }
        }

        @using (Html.BeginForm("UpdateOrderProgress", "Orders"))
        {
            using (Html.BeginBootstrapForm())
            {
                @Html.HiddenFor(e => e.SelectedOrder.Id)

                @Html.Partial("_OrderReviewSheet", Model)

                <hr />

                @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Update, EButtonType.Submit, "fa-save")
                @Html.BootstrapBackToListButton()
                @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.Previous, "OrderReview", null, new { id = Model.SelectedOrder.Id, index = -1 }, "fa-arrow-left")
                @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.Next, "OrderReview", null, new { id = Model.SelectedOrder.Id, index = 1 }, "fa-arrow-right")
            }
        }
    </div>
    <div id="allorders" class="tab-pane fade padding-top-15">
        @Html.Partial("_AllOrdersReview")
    </div>
    <div id="pickslip" class="tab-pane fade padding-top-15">
        @Html.Partial("_AllOrdersPickSlip")
    </div>
</div>

<script type="text/javascript">
    $(function () {

        $("#SelectedOrderId").change(function () {
            $("#SelectedOrderId").closest("form").submit();
        });

        $("#@($"{nameof(OrdersReviewViewModel.SelectedOrder)}_{nameof(Order.IsPaid)}")").click(function() {
            $("#pageSpinner").show();
            var value = $(this).is(":checked");
            ajaxcontroller().send("@Url.Action("UpdateOrderIsPaid")",
                {
                    id: @Model.SelectedOrder.Id,
                    value: value
                }, "POST").done(
                function(result) {
                    $.fn.processResultAndShowPopup(result);
                });
        });

        $("#@($"{nameof(OrdersReviewViewModel.SelectedOrder)}_{nameof(Order.IsMade)}")").click(function() {
            $("#pageSpinner").show();
            var value = $(this).is(":checked");
            ajaxcontroller().send("@Url.Action("UpdateOrderIsMade")",
                {
                    id: @Model.SelectedOrder.Id,
                    value: value
                }, "POST").done(
                function(result) {
                    $.fn.processResultAndShowPopup(result, function() {
                        $("#SelectedOrderId").closest("form").submit();
                    });
                });
        });

        $("#@($"{nameof(OrdersReviewViewModel.SelectedOrder)}_{nameof(Order.IsComplete)}")").click(function() {
            $("#pageSpinner").show();
            var value = $(this).is(":checked");
            ajaxcontroller().send("@Url.Action("UpdateOrderIsComplete")",
                {
                    id: @Model.SelectedOrder.Id,
                    value: value
                }, "POST").done(
                function(result) {
                    $.fn.processResultAndShowPopup(result);
                });
        });

        $("#@($"{nameof(OrdersReviewViewModel.SelectedOrder)}_{nameof(Order.IsOnHold)}")").click(function() {
            $("#pageSpinner").show();
            var value = $(this).is(":checked");
            ajaxcontroller().send("@Url.Action("UpdateOrderIsOnHold")",
                {
                    id: @Model.SelectedOrder.Id,
                    value: value
                }, "POST").done(
                function(result) {
                    $.fn.processResultAndShowPopup(result, function() {
                        $("#SelectedOrderId").closest("form").submit();
                    });
                });
        });

    })
</script>