@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model FoodItem

<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Name)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.ShortDescription)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Benefits)
    </div>
    <div class="col-sm-6">
        @Html.BootstrapEditorFor(model => model.Recommendations)
    </div>
</div>

<hr />

<div class="row">
    @Html.BootstrapEditorFor(model => model.ImageFileSource)
</div>

<hr />

@Html.Partial("_GenoTypeBaseEditFields")